
  
<%- include('../Layouts/Admin/header') -%>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/Admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/Admin/assets/vendor/libs/typeahead-js/typeahead.css" /> 
    <link rel="stylesheet" href="/Admin/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css">
<link rel="stylesheet" href="/Admin/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css">
<link rel="stylesheet" href="/Admin/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css">
<link rel="stylesheet" href="/Admin/assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css">
<link rel="stylesheet" href="/Admin/assets/vendor/libs/select2/select2.css">
<link rel="stylesheet" href="/Admin/assets/vendor/libs/%40form-validation/form-validation.css">
<link rel="stylesheet" href="/Admin/assets/vendor/libs/quill/typography.css">
<link rel="stylesheet" href="/Admin/assets/vendor/libs/quill/katex.css">
<link rel="stylesheet" href="/Admin/assets/vendor/libs/quill/editor.css">

    <!-- Page CSS -->
    
<link rel="stylesheet" href="/Admin/assets/vendor/css/pages/app-ecommerce.css">

    <!-- Helpers -->
    <script src="/Admin/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <!-- <script src="/Admin/assets/vendor/js/template-customizer.js"></script> -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/Admin/assets/js/config.js"></script>


    <style>
        .error-message {
            color: red !important;
        }
        
        
    </style>
    
    
</head>

<%- include('../Layouts/Admin/navbar') -%>




<!-- Content wrapper -->
<div class="content-wrapper">

    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="d-flex flex-column justify-content-center">
              <h4 class="mb-1">Categories</h4>
          </div>

        <div class="app-ecommerce-category">
            <!-- Category List Table -->
             
            <div class="card">
                <div class="card-datatable table-responsive">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                        <div class="card-header d-flex rounded-0 flex-wrap py-0 pb-5 pb-md-0">
                            <div class="me-5 ms-n2">
                                <div id="DataTables_Table_0_filter" class="dataTables_filter"><label><input type="search"
                                            class="form-control form-control-sm" placeholder="Search"
                                            aria-controls="DataTables_Table_0"></label></div>
                            </div>
                            <div class="d-flex justify-content-start justify-content-md-end align-items-baseline">
                                <div class="dt-action-buttons d-flex align-items-start align-items-md-center justify-content-sm-center mb-0 gap-4 pt-0">
                                    
                                    <div class="dt-buttons btn-group flex-wrap">
                                        
                                        <button class="btn btn-secondary add-new btn-primary ms-n1 waves-effect waves-light" tabindex="0"
                                            aria-controls="DataTables_Table_0" type="button" data-bs-toggle="modal" data-bs-target="#ecommerceCategoryModal">
                                            <span>
                                                <i class="ri-add-line me-0 me-sm-1"></i>
                                                <span class="d-none d-sm-inline-block">Add Category</span>
                                            </span>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="datatables-users table dataTable no-footer dtr-column" id="DataTables_Table_0"
                            aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr>
                                    <th style="width: 10px;">SI</th>
                                    <th class="name-column" style="width: 500px;">Name</th>
                                    <th class="gender-column">Gender</th>
                                    <th class="text-center action-column">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (categories.length> 0) { %>
                                    <% categories.forEach((category, index)=> { %>
                                        <tr>
                                            <td>
                                                <%= index + 1 %>
                                            </td>
                                            <td>
                                                <div class="d-flex justify-content-start align-items-center user-name">
                                                    <div class="d-flex flex-column">
                                                        <a href="app-user-view-account.html" class="text-heading text-truncate">
                                                            <span class="fw-medium">
                                                                <%= category.name %>
                                                            </span>
                                                        </a>
                                                        <small>
                                                            <%= category.description %>
                                                        </small>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <%= category.gender %>
                                            </td>
                                            <td class="text-center">
                                                <a href="#" class="badge rounded-pill bg-label-primary align-items-center editButton" id="<%= category._id %>"
                                                    data-bs-toggle="modal" data-bs-target="#editModal<%= category._id %>">Edit</a>
                                                <% if (!category.isListed) { %>
                                                    <a href="#" class="badge rounded-pill mx-2 bg-label-success listButton"
                                                        data-category-id="<%= category._id %>">List</a>
                                                    <% } else { %>
                                                        <a href="#" class="badge rounded-pill mx-2 bg-label-danger listButton"
                                                            data-category-id="<%= category._id %>">Unlist</a>
                                                        <% } %>
                                            </td>
                                        </tr>

                                        <!-- Modal -->
                                        <div class="modal fade" id="editModal<%= category._id %>" tabindex="-1"
                                            aria-labelledby="editModalLabel<%= category._id %>" aria-hidden="true">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <h5 id="editModalLabel<%= category._id %>" class="modal-title">Edit Category</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <!-- Modal Body -->
                                                    <div class="modal-body">
                                                        <form id="edit-category-<%= category._id %>">
                                                            <p id="modal-message-<%= category._id %>" class="text-danger text-center"></p>
                                                            <!-- Name -->
                                                            <div class="form-floating form-floating-outline mb-5">
                                                                <input type="text" class="form-control" id="category-name-<%= category._id %>"
                                                                    placeholder="Enter category name" name="name" aria-label="category title"
                                                                    value="<%= category.name %>">
                                                                <label for="category-name-<%= category._id %>" id="categoryNameError-<%= category._id %>">Name</label>
                                                                <div class="invalid-feedback" id="categoryNameError-<%= category._id %>"></div>
                                                            </div>
                                                            <!-- Description -->
                                                            <div class="form-floating form-floating-outline mb-5">
                                                                <textarea id="category-description-<%= category._id %>" class="form-control"
                                                                    placeholder="Enter description" aria-label="description" name="description"
                                                                    rows="4"><%= category.description %></textarea>
                                                                    <label for="category-description-<%= category._id %>" id="categoryDesError-<%= category._id %>">Description</label>
                                                                <div class="invalid-feedback" id="categoryDesError-<%= category._id %>"></div>
                                                            </div>
                                                            <!-- Gender -->
                                                            <div class="form-floating form-floating-outline mb-5">
                                                                <select id="category-gender-<%= category._id %>" class="form-select" aria-label="Gender"
                                                                    name="gender">
                                                                    <option value="">Select gender</option>
                                                                    <option value="Men" <% if (category.gender==='Men' ) { %>selected<% } %>>Men</option>
                                                                    <option value="Women" <% if (category.gender==='Women' ) { %>selected<% } %>>Women</option>
                                                                </select>
                                                                <label for="category-gender-<%= category._id %>" id="categoryGenderError-<%= category._id %>">Gender</label>
                                                                <div class="invalid-feedback" id="categoryGenderError-<%= category._id %>"></div>
                                                            </div>
                                                            <!-- Submit and reset -->
                                                            <div class="mb-4">
                                                                <button type="submit"
                                                                    class="btn btn-primary me-sm-3 me-1 waves-effect waves-light">Update</button>
                                                                <button type="reset" class="btn btn-outline-danger waves-effect"
                                                                    data-bs-dismiss="modal">Discard</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <% }); %>
                                            <% } else { %>
                                                <tr>
                                                    <td colspan="4" class="text-center">No categories found.</td>
                                                </tr>
                                                <% } %>
                            </tbody>
                        </table>
                        <div class="row mx-1">
                            <div class="col-sm-12 col-md-6">   
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                    <ul class="pagination">
                                        <% for ( let i=1; i <= totalPages; i++ ) { %>
                                            <li class="paginate_button page-item <%= i === page ? 'active' : '' %>">
                                                <a href="#" onclick="fetchPage(<%= i %>)" class="page-link">
                                                    <%= i %>
                                                </a>
                                            </li>
                                            <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div style="width: 1%;"></div>
                    </div>
                </div>
            </div>
            <!-- Add category modal -->
            <div class="modal fade" id="ecommerceCategoryModal" tabindex="-1" aria-labelledby="ecommerceCategoryModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-sm ">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 id="ecommerceCategoryModalLabel" class="modal-title">Add Category</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <!-- Modal Body -->
                        <div class="modal-body">
                            <p id="modal-message" class="text-danger text-center"></p>
                            <form id="add-category">
                                <!-- Title -->
                                <div class="form-floating form-floating-outline mb-5 fv-plugins-icon-container">
                                    <input type="text" class="form-control" id="category-name" placeholder="Enter category name" name="name"
                                        aria-label="category title">
                                    <label for="category-name" id="categoryNameError">Name</label>
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                    </div>
                                </div>
                                <!-- Description -->
                                <div class="form-floating form-floating-outline mb-5 fv-plugins-icon-container">
                                    <textarea id="category-description" class="form-control" placeholder="Enter description"
                                        aria-label="description" name="description" rows="4"></textarea>
                                    <label for="category-description" id="categoryDesError">Description</label>
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                    </div>
                                </div>
                                <!-- Parent category -->
                                <div class="form-floating form-floating-outline mb-5">
                                    <select id="category-gender" class="form-select" aria-label="Gender" name="gender">
                                        <option value="">Select gender</option>
                                        <option value="Men">Men</option>
                                        <option value="Women">Women</option>
                                    </select>
                                    <label for="category-gender" id="categoryGenderError">Gender</label>
                                </div>
                                <!-- Submit and reset -->
                                <div class="mb-4">
                                    <button type="submit" class="btn btn-primary me-sm-3 me-1 waves-effect waves-light">Add</button>
                                    <button type="reset" class="btn btn-outline-danger waves-effect"
                                        data-bs-dismiss="modal">Discard</button>
                                </div>
                                <input type="hidden">
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!-- Confirmation Modal -->
        <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmationModalLabel">Confirm Action</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to perform this action?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="confirmAction()">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        
        

    </div>
    <!-- / Content -->

<!-- Core JS -->
<!-- build:js /Admin/assets/vendor/js/core.js -->
<script src="/Admin/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/Admin/assets/vendor/libs/popper/popper.js"></script>
<script src="/Admin/assets/vendor/js/bootstrap.js"></script>
<script src="/Admin/assets/vendor/libs/node-waves/node-waves.js"></script>
<script src="/Admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/Admin/assets/vendor/libs/hammer/hammer.js"></script>
<script src="/Admin/assets/vendor/libs/i18n/i18n.js"></script>
<script src="/Admin/assets/vendor/libs/typeahead-js/typeahead.js"></script>
<script src="/Admin/assets/vendor/js/menu.js"></script>

<!-- Vendors JS -->
<script src="/Admin/assets/vendor/libs/moment/moment.js"></script>
<script src="/Admin/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
<script src="/Admin/assets/vendor/libs/select2/select2.js"></script>
<script src="/Admin/assets/vendor/libs/%40form-validation/popular.js"></script>
<script src="/Admin/assets/vendor/libs/%40form-validation/bootstrap5.js"></script>
<script src="/Admin/assets/vendor/libs/%40form-validation/auto-focus.js"></script>
<script src="/Admin/assets/vendor/libs/quill/katex.js"></script>
<script src="/Admin/assets/vendor/libs/quill/quill.js"></script>

<!-- Main JS -->
<script src="/Admin/assets/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

    function fetchPage(page) {
            window.location.href = `/admin/categories?page=${page}`;
        }

    document.getElementById('add-category').addEventListener('submit', function (event) {
            event.preventDefault();

            const isValid = validateAddCategory();

            if (isValid) {
            // If form is valid, proceed with fetch API to send data to server
            const formData = {
                name: document.getElementById('category-name').value.trim(),
                description: document.getElementById('category-description').value.trim(),
                gender: document.getElementById('category-gender').value,
            };

            fetch('/admin/categories/addCategory', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        
                        window.location.reload();
                        
                    } else {
                        
                        document.getElementById('modal-message').innerText = data.message;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    document.getElementById('modal-message').innerText = 'An error occurred.';
                    document.getElementById('modal-message').classList.add('text-danger');
                });
            }

        });

        function validateAddCategory() {
            const name = document.getElementById('category-name').value.trim();
            const description = document.getElementById('category-description').value.trim();
            const gender = document.getElementById('category-gender').value;


            const nameLabel = document.getElementById('categoryNameError');
            const descriptionLabel = document.getElementById('categoryDesError');
            const genderLabel = document.getElementById('categoryGenderError');;

            const nameRegex = /^\S+$/;

            let isValid = true;

            // Validate Name
            if (name === '') {
                nameLabel.innerText = 'Name cannot be empty';
                nameLabel.classList.add('error-message');
                isValid = false;
            } else if (!nameRegex.test(name)) {
                nameLabel.innerText = 'Name should be one word without spaces';
                nameLabel.classList.add('error-message');
                isValid = false;
            } else {
                nameLabel.innerText = 'Name'; 
                nameLabel.classList.remove('error-message');
            }

            if (description.length > 200) {
                descriptionLabel.innerText = "description shouldn't exceed 200  char";
                descriptionLabel.classList.add('error-message');

                isValid = false;
            } else {
                descriptionLabel.innerText = 'Description';
                descriptionLabel.classList.remove('error-message');
            }


            // Validate Gender 
            if (gender === '') {
                genderLabel.innerText = 'Please select a gender';
                genderLabel.classList.add('error-message');

                isValid = false;
            } else {
                genderLabel.innerText = 'Gender'; 
                genderLabel.classList.remove('error-message');
            }


            return isValid;
        }

</script>

<script>

    // Function to show confirmation modal
        function showConfirmationModal(categoryId) {
            $('#confirmationModal').data('categoryId', categoryId);
            $('#confirmationModal').modal('show');
        }

        // Function to confirm list/unlist action
        function confirmAction() {
            const categoryId = $('#confirmationModal').data('categoryId');
            const action = $('#confirmationModal').data('action');

            
            if (action === 'List') {
                listCategory(categoryId);
            } else if (action === 'Unlist') {
                unlistCategory(categoryId);
            }

            $('#confirmationModal').modal('hide');
        }

        // Function to handle list category request
        function listCategory(categoryId) {
                fetch(`/admin/categories/listCategory`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ categoryId })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.isListed) {
                            $(`a[data-category-id="${categoryId}"]`)
                                .removeClass('bg-label-success')
                                .addClass('bg-label-danger')
                                .text('Unlist');
                        } else {
                            console.error('Error listing category:', data.message);
                        }
                    })
                    .catch(error => console.error('Error listing category:', error));
            }

            // Function to handle unlist category request
            function unlistCategory(categoryId) {
                fetch(`/admin/categories/unlistCategory`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ categoryId })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (!data.isListed) {
                            $(`a[data-category-id="${categoryId}"]`)
                                .removeClass('bg-label-danger')
                                .addClass('bg-label-success')
                                .text('List');
                        } else {
                            console.error('Error unlisting category:', data.message);
                        }
                    })
                    .catch(error => console.error('Error unlisting category:', error));
            }

        // Event listener for list/unlist buttons
        $(document).ready(function () {
            $('.listButton').click(function (event) {
                event.preventDefault();
                const categoryId = $(this).data('category-id');
                const action = $(this).text()

                $('#confirmationModal').data('action', action);
                showConfirmationModal(categoryId);
            });
        });

</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const forms = document.querySelectorAll('form[id^="edit-category-"]');

        forms.forEach(form => {
            form.addEventListener('submit', function (event) {
                event.preventDefault();

                const categoryId = this.id.split('edit-category-')[1];
                const name = document.getElementById(`category-name-${categoryId}`).value.trim();
                const description = document.getElementById(`category-description-${categoryId}`).value.trim();
                const gender = document.getElementById(`category-gender-${categoryId}`).value;

                const nameLabel = document.getElementById(`categoryNameError-${categoryId}`);
                const descriptionLabel = document.getElementById(`categoryDesError-${categoryId}`);
                const genderLabel = document.getElementById(`categoryGenderError-${categoryId}`);

                const nameRegex = /^\S+$/;

                let isValid = true;

                // Validate Name
                if (name === '') {
                    console.log('name error')
                    nameLabel.innerText = 'Name cannot be empty';
                    nameLabel.classList.add('error-message');
                    isValid = false;
                } else if (!nameRegex.test(name)) {
                    nameLabel.innerText = 'Name should be one word without spaces';
                    nameLabel.classList.add('error-message');
                    isValid = false;
                } else {
                    nameLabel.innerText = 'Name';
                    nameLabel.classList.remove('error-message');
                }

                // Validate Description
                if (description.length > 200) {
                    descriptionLabel.innerText = "Description shouldn't exceed 200 characters";
                    descriptionLabel.classList.add('error-message');
                    isValid = false;
                } else {
                    descriptionLabel.innerText = 'Description';
                    descriptionLabel.classList.remove('error-message');
                }

                // Validate Gender
                if (gender === '') {
                    genderLabel.innerText = 'Please select a gender';
                    genderLabel.classList.add('error-message');
                    isValid = false;
                } else {
                    genderLabel.innerText = 'Gender';
                    genderLabel.classList.remove('error-message');
                }

                if (isValid) {
                    const formData = { id: categoryId, name, description, gender };
                    updateCategory(formData);
                }
            });
        });
    });

    function updateCategory(data) {
            console.log(data)
            fetch('/admin/categories/editCategory', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {
            if (data.success) {
                // Close the modal
                const modal = bootstrap.Modal.getInstance(document.getElementById(`editModal${data.id}`));
                console.log(modal)
                modal.hide();

                // Show success alert
                Swal.fire({
                    title: 'Success',
                    text: data.message,
                    icon: 'success',
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = `/admin/categories`;
                    }
                });
            } else {
                // Show error alert
                Swal.fire({
                    title: 'Error',
                    text: data.message,
                    icon: 'error',
                    confirmButtonColor: '#d33',
                    confirmButtonText: 'OK'
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
            Swal.fire({
                title: 'Error',
                text: 'An error occurred while updating the product.',
                icon: 'error',
                confirmButtonColor: '#d33',
                confirmButtonText: 'OK'
            });
        });
      }
</script>


</body>




</html>
