
<%- include('../Layouts/User/header') -%>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/User/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/User/assets/css/style.css">


    <style>
        .og-price {
            text-decoration: line-through;
        }
        @media (max-width: 768px) {
    .table-cart thead {
        display: none;
    }

    .table-cart tr {
        display: block;
        margin-bottom: 20px;
    }

    .table-cart td {
        display: block;
        width: 100%;
        text-align: right;
    }

    .table-cart td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }

    .product-media {
        text-align: center;
    }

    .product-title {
        text-align: center;
    }
}

    </style>

</head>

<body>
    <div class="page-wrapper">

        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left mb-4">
                        
                    </div><!-- End .header-left -->
        
                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>
                                    <li><a href="/wishlist"><i class="icon-heart-o"></i>Wishlist <span></span></a></li>
                                    <li><a href="/about">About Us</a></li>

                                    <li><a href="/account"><i class="icon-user"></i><%= user ? user.firstName || 'Account' : 'Sign In' %></a></li>
        
        
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->
        
            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
        
                        <a href="/" class="logo">
                            <img src="/User/assets/images/taaraLogo-1.png" alt="Molla Logo" width="105" height="25">

                        </a>
        
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                
                                <li>
                                    <a href="/products/Men" class="">MEN</a>
        
                                    
                                </li>
                                <li>
                                    <a href="/products/Women" class="">WOMEN</a>
        
                                    
                                </li>
                                <li>
                                    <a href="/products/newArrivals" class="">NEW ARRIVALS</a>
        
                                    
                                </li>
                                <!-- <li>
                                    <a href="blog.html" class="">SALE</a>
        
                                    
                                </li> -->
                                
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
        
                    </div><!-- End .header-left -->
        
                    <div class="header-right">
                        <div class="header-search">
                            <a class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                            <form id="search-form" action="/products/search" method="GET">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="search" id="search" value="<%= locals.search ? search : '' %>" placeholder="Search in..." >
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                        
        
                        <div class="dropdown cart-dropdown">
                            <a href="/cart" class="dropdown-toggle" role="button" >
                                <i class="icon-shopping-cart"></i>
                                
                            </a>
                            
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->
        
        


        <main class="main">
        	<div class="page-header text-center" style="background-color: black;">
        		<div class="container">
        			<h1 class="page-title">CART</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        
                        <li class="breadcrumb-item active" aria-current="page">Cart</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="cart">
	                <div class="container">
                        <% if (cart.products.length === 0) { %>
                            <h4 class="text-center" style="color: rgb(102, 102, 102);">Your cart is empty. Add products to view </h4>
                        <% } else { %>
                            <div class="row">
                                <div class="col-lg-9">
                                    <table class="table table-cart table-mobile">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Product</th>
                                                <th class="text-center">Price</th>
                                                <th class="text-center" style="width: 190px;">Quantity</th>
                                                <th class="text-center">Total</th>
                                                <th class="text-center"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% cart.products.forEach((current, index) => { %>
                                                <tr id="cartItem-<%= current.variant._id %>">
                                                    <td class="product-col">
                                                        <div class="product">
                                                            <figure class="product-media">
                                                                <a href="#">
                                                                    <img src="/Admin/assets/Products-Images/<%= current.variant.images[0] %>" alt="Product image">
                                                                </a>
                                                            </figure>
                                                            <h3 class="product-title">
                                                                <a href="/product/<%= current.product._id %>/variant/<%= current.variant._id %>"><%= current.product.name %></a>
                                                            </h3><!-- End .product-title -->
                                                        </div><!-- End .product -->
                                                    </td>
                                                    <td style="width: 100px;" class="price-col text-center">
                                                        <span class="text-danger og-price">
                                                        Rs.<%= current.product.price.toFixed(2) %>
                                                    </span>
                                                    <span>
                                                        Rs.<%= current.discountedPrice.toFixed(2) %>
                                                    </span>
                                                </td>
                                                    <td class="quantity-co text-center">
                                                        <div class="cart-product-quantity">
                                                            <% if (current.variant.quantity === 0) { %>
                                                                <button class="btn btn-block btn-outline-primary-2 disabled">Out of Stock</button>
                                                            <% } else { %>
                                                                <input type="number" id="updateCart-<%= current.variant._id %>" data-variantId="<%= current.variant._id %>" data-cart-id="<%= cart._id %>" class="form-control" value="<%= current.quantity %>" min="1" max="<%= Math.min(current.variant.quantity, 5) %>" step="1" data-decimals="0">
                                                                <% if (current.variant.quantity < 5) { %>
                                                                    <span style="color: red;">
                                                                        Only <%= current.variant.quantity %> left in
                                                                       stock
                                                                   </span>
                                                                
                                                                 
                                                                <% } %>
                                                            <% } %>
                                                        </div><!-- End .cart-product-quantity -->
                                                    </td>
                                                    <% if (current.quantity > 0 ) { %>
                                                        <td class="total-col text-center">Rs.<%= (current.discountedPrice *  current.quantity) .toFixed(2) %></td>
                                                        <% } else { %>
                                                            <td class="total-col text-center">Rs.<%= (current.discountedPrice *  1).toFixed(2)  %></td>
                                                    <% } %>
                                                    
                                                    <td class="remove-col">
                                                        <button class="btn-remove removeItem" data-variantId="<%= current.variant._id %>" data-cart-id="<%= cart._id %>"><i class="icon-close"></i></button>
                                                    </td>
                                                </tr>
                                                <% }); %>
                                                
                                        </tbody>
                                        
                                        
                                    </table><!-- End .table table-wishlist -->
                    
                                    
                                </div><!-- End .col-lg-9 -->
                    
                                <aside class="col-lg-3">
                                    <div class="summary summary-cart">
                                        <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->
                                
                                        <table class="table table-summary">
                                            <tbody>
                                                <tr class="summary-subtotal">
                                                    <td>Subtotal:</td>
                                                    <td id="original-subtotal">Rs.<%= originalSubTotal.toFixed(2) %></td>
                                                </tr><!-- End .summary-subtotal -->
                                                <tr class="summary-shipping">
                                                    <td>Discount:</td>
                                                    <td id="discounted-subtotal">- Rs.<%= Math.round(originalSubTotal - discountedSubTotal).toFixed(2) %></td>
                                                </tr>
                                
                                                <tr class="summary-shipping-row">
                                                    <td>
                                                        <div class="">
                                                            <p class="" for="free-shipping">Shipping Charge</p>
                                                        </div><!-- End .custom-control -->
                                                    </td>
                                                    <td id="shipping-charge">Rs.<%= filteredProducts.length > 0 ? shippingCharge.toFixed(2) : "0" %></td>
                                                </tr><!-- End .summary-shipping-row -->
                                                <tr class="summary-total">
                                                    <td>Total:</td>
                                                    <td id="total-price">Rs.<%= filteredProducts.length > 0 ?  totalPriceCart.toFixed(2) : "0" %></td>
                                                </tr><!-- End .summary-total -->
                                            </tbody>
                                        </table><!-- End .table table-summary -->
                                        <% if (filteredProducts.length > 0) { %>
                                            <button onclick="proceedToCheckout()" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</button>
                                        <% } %>
                                        
                                    </div><!-- End .summary -->
                                
                                    <a href="/" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
                                </aside><!-- End .col-lg-3 -->
                                
                            </div><!-- End .row -->
                        <% } %>
                    </div><!-- End .container -->
                    
                </div><!-- End .cart -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <%- include('../Layouts/User/footer') -%>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 

    <script>
        document.querySelectorAll('.removeItem').forEach(button => {
    button.addEventListener('click', (event) => {
        event.preventDefault();

        const variantId = button.getAttribute('data-variantId');
        const cartId = button.getAttribute('data-cart-id');
        removeFromCart(variantId, cartId);
    });
});

function removeFromCart(variantId, cartId) {
    fetch(`/cart/${variantId}/${cartId}`, {
        method: 'DELETE',
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            document.getElementById(`cartItem-${variantId}`).remove();
            updateCartSummary(data);
        } else {
            console.error(data.message);
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

function updateCartSummary(data) {
    // const subTotal = cart.products.reduce((sum, product) => sum + parseFloat(product.discountedPrice) * parseInt(product.quantity), 0);
    // const shippingCharge = (subTotal <= 500 && subTotal !== 0) ? 50 : 0;
    // const totalPrice = subTotal + shippingCharge;

// Update the cart summary using backend-calculated values
document.getElementById('original-subtotal').textContent = `Rs.${data.originalSubTotal.toFixed(2)}`;
                document.getElementById('discounted-subtotal').textContent = `- Rs.${(data.originalSubTotal - data.discountedSubTotal).toFixed(2)}`;
                document.getElementById('shipping-charge').textContent = `Rs.${data.shippingCharge.toFixed(2)}`;
                document.getElementById('total-price').textContent = `Rs.${data.totalPriceCart.toFixed(2)}`;
}


document.querySelectorAll('input[id^="updateCart-"]').forEach(input => {
    input.addEventListener('change', (event) => {
        event.preventDefault();

        const variantId = input.getAttribute('data-variantId');
        const cartId = input.getAttribute('data-cart-id');
        const quantity = input.value;

        const data = {
            variantId,
            cartId,
            quantity
        };

        updateCart(data);
    });
});

function updateCart(data) {
    fetch(`/cart/${data.variantId}/${data.cartId}`, {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ quantity: data.quantity })
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            // Find the product in the cart based on variantId
            const product = data.cart.products.find(p => p.variant._id === data.variantId);
            if (product) {
                // Update the quantity displayed
                document.querySelector(`#updateCart-${data.variantId}`).value = product.quantity;

                // Update the total for the specific item with discounted price
                document.querySelector(`#cartItem-${data.variantId} .total-col`).textContent = `Rs.${Math.round(product.discountedPrice * product.quantity).toFixed(2)}`;

                // Update the cart summary using backend-calculated values
                document.getElementById('original-subtotal').textContent = `Rs.${data.originalSubTotal.toFixed(2)}`;
                document.getElementById('discounted-subtotal').textContent = `- Rs.${(data.originalSubTotal - data.discountedSubTotal).toFixed(2)}`;
                document.getElementById('shipping-charge').textContent = `Rs.${data.shippingCharge.toFixed(2)}`;
                document.getElementById('total-price').textContent = `Rs.${data.totalPriceCart.toFixed(2)}`;

                // Calculate and display savings
                // const savings = data.originalSubTotal - data.discountedSubTotal;
                // document.getElementById('total-savings').textContent = `Rs.${savings.toFixed(2)}`;
            } else {
                console.log(`Product with variantId ${data.variantId} not found in cart.`);
            }
        } else {
            console.log(data.message);
        }
    })
    .catch(error => {
        console.log('Error:', error);
    });
}


    
    </script>
    
    <script>

async function proceedToCheckout() {
  try {
    const cartId = '<%= cart._id %>';
    const response = await fetch('/toCheckout', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ cart: cartId }),
    });
    const data = await response.json();
    if (data.success) {
      window.location.href = '/checkout';
    } else {
      // Show error alert
      Swal.fire({
        title: 'Error',
        text: data.message,
        icon: 'error',
        confirmButtonColor: '#d33',
        confirmButtonText: 'OK',
      });
    }
  } catch (error) {
    console.error('Error proceeding to checkout:', error);
    alert('An error occurred while proceeding to checkout. Please try again.');
  }
}


    </script>

    <!-- Plugins JS File -->
    <script src="/User/assets/js/jquery.min.js"></script>
    <script src="/User/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/User/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/User/assets/js/jquery.waypoints.min.js"></script>
    <script src="/User/assets/js/superfish.min.js"></script>
    <script src="/User/assets/js/owl.carousel.min.js"></script>
    <script src="/User/assets/js/bootstrap-input-spinner.js"></script>
    <!-- Main JS File -->
    <script src="/User/assets/js/main.js"></script>
</body>


<!-- molla/cart.html  22 Nov 2019 09:55:06 GMT -->
</html>