
<%- include('../Layouts/User/header') -%>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/User/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/User/assets/css/style.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3.10.0/notyf.min.css">

    <style>
      .checkout-container {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 100%; /* Make container take full width */
}

.address-heading-container {
    margin-bottom: 10px;
    background-color: #f8f8f8; /* Add background color to heading container */
    padding: 10px; /* Add padding to heading container */
    border-radius: 5px 5px 0 0; /* Rounded corners for the top */
}

.address-heading {
    font-weight: bold;
    margin: 0; /* Remove margin from heading */
}

.address-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative; /* Ensure relative positioning for positioning the options */
    display: flex; /* Flexbox for aligning items */
    align-items: center; /* Center align items vertically */
}

.address-card input[type="radio"] {
    margin-right: 10px; /* Add some space between radio button and label */
}

.address-details {
    flex: 1; /* Take up remaining space */
}

.edit-link {
    margin-left: auto; /* Move edit link to the right */
}

.edit-link a {
    text-decoration: none;
    color: #337ab7;
    cursor: pointer;
}

.edit-link a:hover {
    color: #23527c;
}

.add-address {
    margin-top: 10px;
}
.cart-products {
    display: flex;
    flex-direction: column;
}

.cart-product {
    display: flex;
    margin-bottom: 10px;
}

.product-media-1 {
    margin-right: 20px;
}

.product-image {
    width: 70px; 
    height: 100px; 
}

.product-details {
    display: flex;
    flex-direction: column;
}

.error-message {
    color: red !important;
}

.success-message {
    color: green !important;
}

/* Hide default radio button */
input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Style the custom radio button */
input[type="radio"] + label {
    position: relative;
    padding-left: 30px; /* Space for custom radio button */
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    color: #333; /* Adjust text color */
}

/* Custom radio button circle */
input[type="radio"] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 15px;
    height: 15px;
    background: #fff; /* Background color */
    border: 1px solid #cd9967; /* Border color */
    border-radius: 50%;
    transform: translateY(-50%);
    transition: background 0.3s, border-color 0.3s;
}

/* Custom radio button checked state */
input[type="radio"]:checked + label::before {
    background: #ffffff; /* Background color when checked */
    border-color: #cd9967; /* Border color when checked */
}

/* Inner circle for checked state */
input[type="radio"]:checked + label::after {
    content: '';
    position: absolute;
    left: 3.5px;
    top: 50%;
    width: 8px;
    height: 8px;
    background: #cd9967; /* Inner circle color */
    border-radius: 50%;
    transform: translateY(-50%);
}



.hidden-coupon {
        display: none;
    }
    #toggleCoupons {
        text-decoration: none;
        display: inline-block;
        width: 100%;
        text-align: center;
    }




    </style>
</head>

<body>
    <div class="page-wrapper">
        
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left mb-4">
                        
                    </div><!-- End .header-left -->
        
                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>
                                    <li><a href="/wishlist"><i class="icon-heart-o"></i>Wishlist <span>(3)</span></a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="/account"><i class="icon-user"></i><%= user ? user.firstName || 'Account' : 'Sign In' %></a></li>
        
        
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->
        
            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
        
                        <a href="/" class="logo">
                            Taara
                        </a>
        
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                
                                <li>
                                    <a href="/products/Men" class="">MEN</a>
        
                                    
                                </li>
                                <li>
                                    <a href="/products/Women" class="">WOMEN</a>
        
                                    
                                </li>
                                <li>
                                    <a href="/products/newArrivals" class="">NEW ARRIVALS</a>
        
                                    
                                </li>
                                <li>
                                    <a href="blog.html" class="">SALE</a>
        
                                    
                                </li>
                                
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
        
                    </div><!-- End .header-left -->
        
                    <div class="header-right">
                        <div class="header-search">
                            <a class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                            <form id="search-form" action="/products/search" method="GET">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="search" id="search" value="<%= locals.search ? search : '' %>" placeholder="Search in..." >
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                        
        
                        <div class="dropdown cart-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count"><%= cart.products.length %></span>
                            </a>
                        
                            <div class="dropdown-menu dropdown-menu-right">
                                <% if (cart.products.length > 0) { %>
                                    <div class="dropdown-cart-products">
                                        <% cart.products.slice(0, 3).forEach(current => { %>
                                            <div class="product pb-3">
                                                <div class="product-cart-details">
                                                    <h4 class="product-title">
                                                        <a href="/product/<%= current.product._id %>/variant/<%= current.variant._id %>"><%= current.product.name %></a>
                                                    </h4>
                                                    <span class="cart-product-info">
                                                        <% if (current.quantity > 0 ) { %>
                                                            <span class="cart-product-qty"><%= current.quantity %></span>
                                                            <% } else { %>
                                                                <span class="cart-product-qty"> 1 </span>
                                                        <% } %>
                                                        
                                                        x Rs.<%= current.discountedPrice %>
                                                    </span>
                                                </div><!-- End .product-cart-details -->
                                
                                                <figure class="product-image-container" style="width: 40px; height: 50px;">
                                                    <a href="/product/<%= current.product._id %>/variant/<%= current.variant._id %>" class="product-image">
                                                        <img src="/Admin/assets/Products-Images/<%= current.variant.images[0] %>" style="width: 52px; height: auto;" alt="Product">
                                                    </a>
                                                </figure>
                                                <!-- <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a> -->
                                            </div><!-- End .product -->
                                        <% }); %>
                                    </div><!-- End .dropdown-cart-products -->
                                
                                    <div class="dropdown-cart-total">
                                        <span>Total</span>
                                        <span class="cart-total-price">Rs.<%= locals.totalPriceCart %></span>
                                    </div><!-- End .dropdown-cart-total -->
                                
                                    <div class="dropdown-cart-action">
                                        <a href="/cart" class="btn btn-primary">View Cart</a>
                                        <a href="/checkout" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .dropdown-cart-action -->
                                <% } else { %>
                                    <div class="dropdown-cart-action">
                                        <p>Your cart is empty  </p>
                                        <a href="/cart" class="btn btn-primary">View Cart</a>
        
                                    </div><!-- End .dropdown-cart-action -->
                                <% } %>
                            </div><!-- End .dropdown-menu -->
                            
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->
        
        

        <main class="main">
        	<div class="page-header text-center" style="background-color: black;">
        		<div class="container">
        			<h1 class="page-title">CHECKOUT</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
        
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
            			
                        <div class="cart-bottom my-2 d-flex">
                            <div class="cart-discount">
                                <div class="input-group">
                                  <input type="text" class="form-control" id="couponCode" placeholder="Coupon code">
                                  <div class="input-group-append">
                                    <button id="applyCouponBtn" style="height: 40px;" class="btn btn-outline-primary-2">
                                      <i class="icon-long-arrow-right"></i>
                                    </button>
                                    <button id="removeCouponBtn" style="height: 40px; width: 100px;" class="btn btn-outline-primary-2 d-none">
                                      REMOVE
                                    </button>
                                  </div>
                                </div>
                                <div id="coupon-label-wrapper">
                                  <label for="couponCode" id="coupon-label"></label>
                                </div>
                              </div>
                              
                          </div>
                          
            			<form >
		                	<div class="row">
		                		<div class="col-lg-9">
                                    <div class="checkout-container mb-3">
                                    <div class=" address-container" id="address-container">
                                        <div class="address-heading-container">
                                            <h4 class="address-heading" id="addressLabel">Delivery Address</h4>
                                        </div>
                                
                                        <% if (addresses) { %>
                                            <% addresses.forEach(address => { %>
                                                <div class="address-card my-2" data-address-id="<%= address._id %>">
                                                    <input type="radio" id="address-<%= address._id %>" name="delivery-address" value="<%= address._id %>">
                                                    <label for="address-<%= address._id %>">
                                                        <div class="address-details">
                                                            <p class="address-content">
                                                                <span class="address-name"><%= address.name %></span>
                                                                <span class="address-phone"><%= address.phone %></span><br>
                                                                <span class="address-line"><%= address.address %>, <%= address.street %>, <%= address.city %>, <%= address.landmark %>, <%= address.state %> - <span class="address-zip"><%= address.pincode %></span></span>
                                                            </p>
                                                        </div>
                                                    </label>
                                                    <div class="edit-link">
                                                        <a data-toggle="modal" href="#editAddressModal<%= address._id %>" class="option-label" data-bs-toggle="modal" data-bs-target="#editAddressModal<%= address._id %>">Edit</a>
                                                    </div>
                                                </div>


                                            <% }); %>

                                            <% addresses.forEach(address => { %>
                                                <!-- Edit Address Modal -->
                                                <div class="modal-wide modal fade" id="editAddressModal<%= address._id %>" tabindex="-1" role="dialog"
                                                    aria-labelledby="editAddressModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="editAddressModalLabel">Edit Address</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body m-5">
                                                                <!-- Form Content -->
                                                                <form id="edit-address-<%= address._id %>">
                                                                    
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <label id="editNameLabel-<%= address._id %>">Name *</label>
                                                                            <input id="editName-<%= address._id %>" type="text" class="form-control" value="<%= address.name %>">
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <label id="editPhoneLabel-<%= address._id %>">Phone*</label>
                                                                            <input id="editPhone-<%= address._id %>" type="text" class="form-control" value="<%= address.phone %>">
                                                                        </div>
                                                                    </div>
                                                                    <label id="editAddressLabel-<%= address._id %>">Address</label>
                                                                    <input id="editAddress-<%= address._id %>" type="text" class="form-control" value="<%= address.address %>">
                                                                    <small class="form-text">Your house or office name and address</small>
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <label id="editStreetLabel-<%= address._id %>">Street/Locality</label>
                                                                            <input id="editStreet-<%= address._id %>" type="text" class="form-control" value="<%= address.street %>">
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <label id="editCityLabel-<%= address._id %>">City/Destrict/Town</label>
                                                                            <input id="editCity-<%= address._id %>" type="text" class="form-control" value="<%= address.city %>">
                                                                        </div>
                                                                    </div>
                                                                    <label id="editLandmarkLabel-<%= address._id %>">Landmark</label>
                                                                    <input id="editLandmark-<%= address._id %>" type="text" class="form-control" value="<%= address.landmark %>">
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <label id="editStateLabel-<%= address._id %>">State</label>
                                                                            <input id="editState-<%= address._id %>" type="text" class="form-control" value="<%= address.state %>">
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <label id="editPincodeLabel-<%= address._id %>">Pincode</label>
                                                                            <input id="editPincode-<%= address._id %>" type="number" class="form-control" value="<%= address.pincode %>">
                                                                        </div>
                                                                    </div>
                                                                    <button type="submit" class="btn btn-outline-primary-2">
                                                                        <span>UPDATE</span>
                                                                        <i class="icon-long-arrow-right"></i>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            <% }); %>


                                        <% } %>

                                                

                                        
                                    </div>
                                        <div class="add-address">
                                            <a id="tab-addAddress-link" data-toggle="modal" href="#addAddressModal" class="nav-link btn btn-primary">
                                                <span class="material-symbols-outlined">add</span>Add Address
                                            </a>
                                        </div>

                                </div>

                                    <div class="order-summary checkout-container mb-3" id="order-summary">
                                        <div class="address-heading-container">
                                            <h4 class="address-heading">Order Summary</h4>
                                        </div>
                                    
                                        <div class="cart-products">
                                            <% if (cart && cart.products && cart.products.length > 0) { %>
                                                <% cart.products.forEach((current, index) => { %>
                                                <div class="cart-product" id="cartItem-<%= index %>">
                                                    <div class="product-media-1">
                                                        <a href="#">
                                                            <img class="product-image" src="/Admin/assets/Products-Images/<%= current.variant.images[0] %>" alt="Product image">
                                                        </a>
                                                    </div>
                                                    <div class="product-details">
                                                        <h5 class="product-heading mb-1" >
                                                            <a style="color: black;" href="/product/<%= current.product._id %>/variant/<%= current.variant._id %>"><%= current.product.name %></a>
                                                        </h5>
                                                        <p class="product-amount">Rs.<%= current.discountedPrice %></p>
                                                        <div class="cart-product-quantity">
                                                            
                                                        </div>
                                                        <p class="product-total">Total Quantity: <%= current.quantity %></p>
                                                        <p class="product-total">Total: Rs.<%= current.discountedPrice * current.quantity %></p>
                                                    </div>
                                                </div>
                                                <% }); %>
                                            <% } else { %>
                                            <% } %>
                                        </div>
                                        
                                        <!-- <div class="">
                                            <a id="" data-toggle="modal" href="#" class="nav-link btn btn-primary">CONTINUE</a>
                                        </div> -->
                                    </div>
                                    
                                    


                                </div>
                                
                                <!-- Add Address Modal -->
                                <div class="modal-wide modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document"> 
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="addAddressModalLabel">Add Address</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body m-5">
                                                <!-- Form Content -->
                                                <form id="add-address">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label id="addNameLabel">Name *</label>
                                                            <input id="addName" type="text" class="form-control" >
                                                        </div><!-- End .col-sm-6 -->

                                                        <div class="col-sm-6">
                                                            <label id="addPhoneLabel">Phone*</label>
                                                            <input id="addPhone" type="text" class="form-control" >
                                                        </div><!-- End .col-sm-6 -->
                                                    </div><!-- End .row -->

                                                    <label id="addAddressLabel">Address</label>
                                                    <input id="addAddress" type="text" class="form-control" >
                                                    <small class="form-text">Your house or office name and address</small>

                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label id="addStreetLabel">Street/Locality</label>
                                                            <input id="addStreet" type="text" class="form-control" >
                                                        </div><!-- End .col-sm-6 -->

                                                        <div class="col-sm-6">
                                                            <label id="addCityLabel">City/Destrict/Town</label>
                                                            <input id="addCity" type="text" class="form-control" >
                                                        </div><!-- End .col-sm-6 -->
                                                    </div><!-- End .row -->

                                                    <label id="addLandmarkLabel">Landmark</label>
                                                    <input id="addLandmark" type="text" class="form-control">

                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label id="addStateLabel">State</label>
                                                            <input id="addState" type="text" class="form-control" >
                                                        </div><!-- End .col-sm-6 -->

                                                        <div class="col-sm-6">
                                                            <label id="addPincodeLabel">Pincode</label>
                                                            <input id="addPincode" type="number" class="form-control" >
                                                        </div><!-- End .col-sm-6 -->
                                                    </div><!-- End .row -->

                                                    <button type="submit" class="btn btn-outline-primary-2">
                                                        <span>SAVE</span>
                                                        <i class="icon-long-arrow-right"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <!-- End .col-lg-9 -->

                                
                                
		                		<aside class="col-lg-3">
		                			<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

		                				<table class="table table-summary">
		                					

		                					<tbody>
		                						
		                						<tr class="summary-subtotal">
		                							<td>Subtotal:</td>
		                							<td>Rs.<%= originalSubTotal.toFixed(2) %></td>
		                						</tr><!-- End .summary-subtotal -->
                                                <tr>
		                							<td>Discount:</td>
		                							<td>- Rs.<%= Math.round(originalSubTotal - discountedSubTotal).toFixed(2) %></td>
		                						</tr>
		                						<tr>
		                							<td>Shipping:</td>
		                							<td>+ Rs.<%= shippingCharge.toFixed(2) %></td>
		                						</tr>
                                                <tr class="d-none" id="checkoutCoupon">
		                							<td>Coupon Applied:</td>
		                							<td id="checkoutCouponValue"></td>
		                						</tr>
		                						<tr class="summary-total">
		                							<td>Total:</td>
		                							<td id="totalForCoupon">Rs.<%= totalPriceCart.toFixed(2) %></td>
		                						</tr><!-- End .summary-total -->
		                					</tbody>
		                				</table><!-- End .table table-summary -->

		                				<div class="accordion-summary" id="accordion-payment">
                                            <div class="card mb-2">
                                                <div class="card-header" id="heading-1">
                                                    <h2 class="card-title" id="paymentLabel">
                                                        Payment Methods
                                                    </h2>
                                                </div><!-- End .card-header -->
                                            </div><!-- End .card -->
                                        
                                            <div class="card mb-1">
                                                <div class="card-header" id="heading-2">
                                                    <h2 class="card-title">
                                                        <!-- Radio Button with Label -->
                                                        <input type="radio" name="paymentMethod" id="payment-method-2" value="Razorpay">
                                                        <label for="payment-method-2" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                                            NetBanking/UPI
                                                        </label>
                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
                                                    <div class="card-body">
                                                        Razorpay is a secure payment gateway that allows you to make online payments using cards, net banking, UPI, and digital wallets.
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .collapse -->
                                            </div><!-- End .card -->
                                        <% if (totalPriceCart > 1000) { %>
                                            <div class="card">
                                                <div class="card-header" id="heading-3">
                                                    <h2 class="card-title">
                                                        <!-- Radio Button with Label -->
                                                        <input type="radio" disabled>
                                                        <label for="payment-method-3" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                                            Cash on Delivery
                                                        </label>
                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-4" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
                                                    <div class="card-body">
                                                        Cash on delivery is not Available for orders above 1000rs.
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .collapse -->
                                            </div><!-- End .card -->
                                            <% } else { %>
                                                <div class="card">
                                                    <div class="card-header" id="heading-3">
                                                        <h2 class="card-title">
                                                            <!-- Radio Button with Label -->
                                                            <input type="radio" name="paymentMethod" id="payment-method-3" value="COD">
                                                            <label for="payment-method-3" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                                                Cash on Delivery
                                                            </label>
                                                        </h2>
                                                    </div><!-- End .card-header -->
                                                    <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
                                                        <div class="card-body">
                                                            A method of collecting payment that requires customers to pay for goods at the time of delivery.
                                                        </div><!-- End .card-body -->
                                                    </div><!-- End .collapse -->
                                                </div><!-- End .card -->
                                        <% } %>
                                            
                                        </div><!-- End .accordion-summary -->
                                        

		                				<button id="checkout" class="btn btn-outline-primary-2 btn-order btn-block">
		                					<span class="btn-text">Place Order</span>
		                					<span class="btn-hover-text">Proceed to Checkout</span>
		                				</button>
		                			</div><!-- End .summary -->

                                    <div class="summary">
                                        <h3 class="summary-title mb-0">Coupons Available</h3>
                                        <table class="table table-summary">
                                            <tbody id="couponList">
                                                <% if (coupons && coupons.length > 0) { %>
                                                    <% coupons.forEach((coupon, index) => { %>
                                                        <tr class="coupon-row <%= index >= 3 ? 'hidden-coupon' : '' %>">
                                                            <td>
                                                                <a href="#couponModal-<%= coupon._id %>" data-toggle="modal" data-bs-target="#couponModal-<%= coupon._id %>"><%= coupon.code %></a>
                                                            </td>
                                                            <td>></td>
                                                        </tr>
                                                    <% }) %>
                                                <% } %>
                                            </tbody>
                                        </table>
                                        <% if (coupons && coupons.length > 3) { %>
                                            <a href="#" id="toggleCoupons" class="btn btn-outline-primary-2 btn-order btn-block">View All Coupons</a>
                                        <% } %>
                                    </div>
                                    
                                    <!-- Coupon Modals -->
                                    <% if (coupons && coupons.length > 0) { %>
                                        <% coupons.forEach((coupon) => { %>
                                            <div class="modal fade" id="couponModal-<%= coupon._id %>" tabindex="-1" aria-labelledby="couponModalLabel<%= coupon._id %>" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content" style="width: 400px;">
                                                        <div class="modal-body m-5">
                                                            <h5 class="modal-title"><%= coupon.name %></h5>
                                                            <p><%= coupon.description %></p>
                                                            <p>Rs. <%= coupon.discount %> OFF on orders above Rs. <%= coupon.amount %></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% }) %>
                                    <% } %><!-- End .summary -->

		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
            			</form>
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <%- include('../Layouts/User/footer') -%>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
    <script src="https://cdn.jsdelivr.net/npm/notyf@3.10.0/notyf.min.js"></script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            const forms = document.querySelectorAll('form[id^="edit-address-"]');
    
            forms.forEach(form => {
                form.addEventListener('submit', function (event) {
                    event.preventDefault();
    
                    console.log('hekk')
                    //inputs
                    const addressId = this.id.split('edit-address-')[1];
                    const name = document.getElementById(`editName-${addressId}`).value.trim();
                    const phone = document.getElementById(`editPhone-${addressId}`).value.trim();
                    const address = document.getElementById(`editAddress-${addressId}`).value.trim();
                    const street = document.getElementById(`editStreet-${addressId}`).value.trim();
                    const city = document.getElementById(`editCity-${addressId}`).value.trim();
                    const landmark = document.getElementById(`editLandmark-${addressId}`).value.trim()
                    const state = document.getElementById(`editState-${addressId}`).value.trim();
                    const pincode = document.getElementById(`editPincode-${addressId}`).value.trim();
    
                    //labels
                    const nameLabel = document.getElementById(`editNameLabel-${addressId}`);
                    const phoneLabel = document.getElementById(`editPhoneLabel-${addressId}`);
                    const addressLabel = document.getElementById(`editAddressLabel-${addressId}`);
                    const streetLabel = document.getElementById(`editStreetLabel-${addressId}`);
                    const cityLabel = document.getElementById(`editCityLabel-${addressId}`);
                    const landmarkLabel = document.getElementById(`editLandmarkLabel-${addressId}`);
                    const stateLabel = document.getElementById(`editStateLabel-${addressId}`);
                    const pincodeLabel = document.getElementById(`editPincodeLabel-${addressId}`);
                 
    
    
                    const phonePattern = /^\d{10}$/;
                    const namePattern = /^[a-z][a-z '-.,]{0,31}$|^$/i
                    const pincodePattern = /[1-9]{1}[0-9]{5}|[1-9]{1}[0-9]{3}\\s[0-9]{3}/;
    
                    let isValid = true
    
                    if(!name){
                        nameLabel.classList.add('error-message')
                        nameLabel.innerHTML = 'Name is required'
                        isValid = false
                    } else if(!name.match(namePattern)){
                            nameLabel.classList.add('error-message')
                            nameLabel.innerHTML = 'Name is invalid'
                            isValid = false
                    } else {
                        nameLabel.classList.remove('error-message')
                        nameLabel.innerHTML = 'Name' 
                    }
    
                    if(!phone){
                        phoneLabel.classList.add('error-message')
                        phoneLabel.innerHTML = 'Phone is required'
                        isValid = false
                    } else if(!phone.match(phonePattern)){
                        phoneLabel.classList.add('error-message')
                        phoneLabel.innerHTML = 'Phone is invalid'
                        isValid = false
                    } else {
                        phoneLabel.classList.remove('error-message')
                        phoneLabel.innerHTML = 'Phone'
                        
                    }
    
                    if(!address){
                        addressLabel.classList.add('error-message')
                        addressLabel.innerHTML = 'Address is required'
                        isValid = false
                    } else {
                        addressLabel.classList.remove('error-message')
                        addressLabel.innerHTML = 'Address'
                    }
    
                    if(!street){
                        streetLabel.classList.add('error-message')
                        streetLabel.innerHTML = 'Street is required'
                        isValid = false
                    } else {
                        streetLabel.classList.remove('error-message')
                        streetLabel.innerHTML = 'Street'
                        
                    }
    
                    if(!city){
                        cityLabel.classList.add('error-message')
                        cityLabel.innerHTML = 'City is required'
                        isValid = false
                    } else {
                        cityLabel.classList.remove('error-message')
                        cityLabel.innerHTML = 'City'
                    }
    
                    if(!state){
                        stateLabel.classList.add('error-message')
                        stateLabel.innerHTML = 'State is required'
                        isValid = false
                    } else {
                        stateLabel.classList.remove('error-message')
                        stateLabel.innerHTML = 'State'
                    }
                    
                    if(!landmark){
                        landmarkLabel.classList.add('error-message')
                        landmarkLabel.innerHTML = 'Landmark is required'
                        isValid = false
                    } else {
                        landmarkLabel.classList.remove('error-message')
                        landmarkLabel.innerHTML = 'Landmark'
                    }
    
                    if(!pincode){
                        pincodeLabel.classList.add('error-message')
                        pincodeLabel.innerHTML = 'Pincode is required'
                        isValid = false
                    } else if (!pincode.match(pincodePattern)){
                        pincodeLabel.classList.add('error-message')
                        pincodeLabel.innerHTML = 'Pincode is invalid'
                        isValid = false
                    } else {
                        pincodeLabel.classList.remove('error-message')
                        pincodeLabel.innerHTML = 'Pincode'
                    }
    
                    if(isValid){
    
                        const data = {
                            addressId: addressId,
                            name: name,
                            phone: phone,
                            address: address,
                            street: street,
                            city: city,
                            state: state,
                            landmark: landmark,
                            pincode: pincode
                        }
    
                        editCheckoutAddress(data)
                    }
                });
            });
        });
    
        function editCheckoutAddress(data) {
                fetch('/editAddress', {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(res => res.json())
        .then(data => {
            var notyf = new Notyf();
    
            if (data.success) {
                notyf.success(data.message, 1000);
                const newAddress = data.address;
    
                // Dynamically update the address field
                const addressCard = document.querySelector(`[data-address-id="${newAddress._id}"]`);
                if (addressCard) {
                    addressCard.querySelector('.address-name').textContent = newAddress.name;
                    addressCard.querySelector('.address-phone').textContent = newAddress.phone;
                    addressCard.querySelector('.address-line').innerHTML = `
                        ${newAddress.address}, ${newAddress.street}, ${newAddress.city}, 
                        ${newAddress.landmark}, ${newAddress.state} - 
                        <span class="address-zip">${newAddress.pincode}</span>
                    `;
                }
    
               
                $('#editAddressModal' + newAddress._id).modal('hide');
    
            } else {
                notyf.error(data.message);
            }
        })
        .catch(err => {
            var notyf = new Notyf();
            notyf.error('Editing address failed');
        });
    }
        
    
        
    </script>

<script>

document.addEventListener('DOMContentLoaded', () => {
        const addAddressForm = document.getElementById('add-address');
        if (addAddressForm) {
            addAddressForm.addEventListener('submit', (event) => {
                event.preventDefault();


        // inputs
        const name = document.getElementById('addName').value.trim()
        const phone = document.getElementById('addPhone').value.trim()
        const address = document.getElementById('addAddress').value.trim()
        const street = document.getElementById('addStreet').value.trim()
        const city = document.getElementById('addCity').value.trim()
        const landmark = document.getElementById('addLandmark').value.trim()
        const state = document.getElementById('addState').value.trim()
        const pincode = document.getElementById('addPincode').value.trim()

        // labels
        const nameLabel = document.getElementById('addNameLabel')
        const phoneLabel = document.getElementById('addPhoneLabel')
        const addressLabel = document.getElementById('addAddressLabel')
        const streetLabel = document.getElementById('addStreetLabel')
        const cityLabel = document.getElementById('addCityLabel')
        const landmarkLabel = document.getElementById('addLandmarkLabel')
        const stateLabel = document.getElementById('addStateLabel')
        const pincodeLabel = document.getElementById('addPincodeLabel')

        const phonePattern = /^\d{10}$/;
        const namePattern = /^[a-z][a-z '-.,]{0,31}$|^$/i
        const pincodePattern = /[1-9]{1}[0-9]{5}|[1-9]{1}[0-9]{3}\\s[0-9]{3}/;

        let isValid = true

        if(!name){
            nameLabel.classList.add('error-message')
            nameLabel.innerHTML = 'Name is required'
            isValid = false
        } else if(!name.match(namePattern)){
                nameLabel.classList.add('error-message')
                nameLabel.innerHTML = 'Name is invalid'
                isValid = false
        } else {
            nameLabel.classList.remove('error-message')
            nameLabel.innerHTML = 'Name' 
        }

        if(!phone){
            phoneLabel.classList.add('error-message')
            phoneLabel.innerHTML = 'Phone is required'
            isValid = false
        } else if(!phone.match(phonePattern)){
            phoneLabel.classList.add('error-message')
            phoneLabel.innerHTML = 'Phone is invalid'
            isValid = false
        } else {
            phoneLabel.classList.remove('error-message')
            phoneLabel.innerHTML = 'Phone'
            
        }

        if(!address){
            addressLabel.classList.add('error-message')
            addressLabel.innerHTML = 'Address is required'
            isValid = false
        } else {
            addressLabel.classList.remove('error-message')
            addressLabel.innerHTML = 'Address'
        }

        if(!street){
            streetLabel.classList.add('error-message')
            streetLabel.innerHTML = 'Street is required'
            isValid = false
        } else {
            streetLabel.classList.remove('error-message')
            streetLabel.innerHTML = 'Street'
            
        }

        if(!city){
            cityLabel.classList.add('error-message')
            cityLabel.innerHTML = 'City is required'
            isValid = false
        } else {
            cityLabel.classList.remove('error-message')
            cityLabel.innerHTML = 'City'
        }

        if(!state){
            stateLabel.classList.add('error-message')
            stateLabel.innerHTML = 'State is required'
            isValid = false
        } else {
            stateLabel.classList.remove('error-message')
            stateLabel.innerHTML = 'State'
        }
        
        if(!landmark){
            landmarkLabel.classList.add('error-message')
            landmarkLabel.innerHTML = 'Landmark is required'
            isValid = false
        } else {
            landmarkLabel.classList.remove('error-message')
            landmarkLabel.innerHTML = 'Landmark'
        }

        if(!pincode){
            pincodeLabel.classList.add('error-message')
            pincodeLabel.innerHTML = 'Pincode is required'
            isValid = false
        } else if (!pincode.match(pincodePattern)){
            pincodeLabel.classList.add('error-message')
            pincodeLabel.innerHTML = 'Pincode is invalid'
            isValid = false
        } else {
            pincodeLabel.classList.remove('error-message')
            pincodeLabel.innerHTML = 'Pincode'
        }

        if(isValid){

            const data = {
                name: name,
                phone: phone,
                address: address,
                street: street,
                city: city,
                state: state,
                landmark: landmark,
                pincode: pincode
            }

            addCheckoutAddress(data)
        }
        
     }) 
    }
    })

    function addCheckoutAddress(data) {
            fetch('/addAddress', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(res => res.json())
                .then(data => {
                    var notyf = new Notyf();

                    if (data.success) {
                        notyf.success(data.message, 1000);

                        // Add new address to the address container
                        const addressContainer = document.getElementById('address-container');
                        const address = data.address;
                        const newAddressHTML = `
                        <div class="address-card my-2" data-address-id="${address._id}">
                            <input type="radio" id="address-${address._id}" name="delivery-address" value="${address._id}">
                            <label for="address-${address._id}">
                                <div class="address-details">
                                    <p class="address-content">
                                        <span class="address-name">${address.name}</span>
                                        <span class="address-phone">${address.phone}</span><br>
                                        <span class="address-line">${address.address}, ${address.street}, ${address.city}, ${address.landmark}, ${address.state} - <span class="address-zip">${address.pincode}</span></span>
                                    </p>
                                </div>
                            </label>
                            <div class="edit-link">
                                <a data-toggle="modal" href="#editAddressModal${address._id}" class="option-label" data-bs-toggle="modal" data-bs-target="#editAddressModal${address._id}">Edit</a>
                            </div>
                        </div>

                        <!-- Edit Address Modal -->
                        <div class="modal-wide modal fade" id="editAddressModal${address._id}" tabindex="-1" role="dialog" aria-labelledby="editAddressModalLabel${address._id}" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editAddressModalLabel${address._id}">Edit Address</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body m-5">
                                        <!-- Form Content -->
                                        <form id="edit-address-${address._id}">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label id="editNameLabel-${address._id}">Name *</label>
                                                    <input id="editName-${address._id}" type="text" class="form-control" value="${address.name}">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label id="editPhoneLabel-${address._id}">Phone*</label>
                                                    <input id="editPhone-${address._id}" type="text" class="form-control" value="${address.phone}">
                                                </div>
                                            </div>
                                            <label id="editAddressLabel-${address._id}">Address</label>
                                            <input id="editAddress-${address._id}" type="text" class="form-control" value="${address.address}">
                                            <small class="form-text">Your house or office name and address</small>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label id="editStreetLabel-${address._id}">Street/Locality</label>
                                                    <input id="editStreet-${address._id}" type="text" class="form-control" value="${address.street}">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label id="editCityLabel-${address._id}">City/Destrict/Town</label>
                                                    <input id="editCity-${address._id}" type="text" class="form-control" value="${address.city}">
                                                </div>
                                            </div>
                                            <label id="editLandmarkLabel-${address._id}">Landmark</label>
                                            <input id="editLandmark-${address._id}" type="text" class="form-control" value="${address.landmark}">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label id="editStateLabel-${address._id}">State</label>
                                                    <input id="editState-${address._id}" type="text" class="form-control" value="${address.state}">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label id="editPincodeLabel-${address._id}">Pincode</label>
                                                    <input id="editPincode-${address._id}" type="number" class="form-control" value="${address.pincode}">
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>UPDATE</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `;

                        addressContainer.insertAdjacentHTML('beforeend', newAddressHTML);
                        // Close the modal using Bootstrap's modal method
                        $('#addAddressModal').modal('hide');

                    } else {
                        var notyf = new Notyf();
                        notyf.error(data.message);
                    }
                })
                .catch(err => {
                    var notyf = new Notyf();
                    notyf.error('Adding address failed');
                });
        }

</script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

document.addEventListener('DOMContentLoaded', () => {
  const couponInput = document.getElementById('couponCode'); // Ensure this is included
  const couponLabel = document.getElementById('coupon-label');
  const checkoutButton = document.getElementById('checkout');
  const checkoutCoupon = document.getElementById('checkoutCoupon');
  const checkoutCouponValue = document.getElementById('checkoutCouponValue');
  const removeCouponBtn = document.getElementById('removeCouponBtn');
  const applyCouponBtn = document.getElementById('applyCouponBtn');
  const totalAmount =  document.getElementById('totalForCoupon')
  let validatedCoupon = null;

  // Function to validate coupon
  async function validateCoupon(couponCode, total) {
    try {
        const data = {
            couponCode : couponCode,
            total : total
        }
      const response = await fetch('/coupon', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      });

      const result = await response.json();

      if (result.valid) {
        couponLabel.classList.remove('error-message');
        couponLabel.classList.add('success-message');
        couponLabel.innerHTML = `Coupon applied ${result.discountPercentage}% OFF`;
        checkoutCoupon.classList.remove('d-none');
        checkoutCouponValue.innerHTML = result.discountAmount;
        totalAmount.innerHTML = result.totalAfterDiscount
        validatedCoupon = result;  
        removeCouponBtn.classList.remove('d-none');
        applyCouponBtn.classList.add('d-none');
      } else {
        couponLabel.classList.add('error-message');
        couponLabel.classList.remove('success-message');
        couponLabel.innerHTML = result.message;
        checkoutCoupon.classList.add('d-none');
        totalAmount.innerHTML = result.originalAmount
        validatedCoupon = null;  
        removeCouponBtn.classList.add('d-none'); 
        applyCouponBtn.classList.remove('d-none');
      }

      return result.valid;
    } catch (error) {
      console.error('Error validating coupon:', error);
      couponLabel.classList.add('error-message');
      couponLabel.innerHTML = 'Error validating coupon';
      totalAmount.innerHTML = result.originalAmount 
      validatedCoupon = null;  
      removeCouponBtn.classList.add('d-none');
      applyCouponBtn.classList.remove('d-none');
      return false;
    }
  }

  // Function to remove coupon
  function removeCoupon() {
    validatedCoupon = null;
    couponInput.value = '';
    couponLabel.innerHTML = '';
    couponLabel.classList.remove('error-message', 'success-message');
    totalAmount.innerHTML = '<%= totalPriceCart.toFixed(2) %>'
    checkoutCoupon.classList.add('d-none');
    removeCouponBtn.classList.add('d-none');
    applyCouponBtn.classList.remove('d-none');
  }

  // Attach event listeners
  applyCouponBtn.addEventListener('click', () => {
    const couponCode = couponInput.value.trim();
    const total = "<%= totalPriceCart %>"
    if (couponCode) {
      validateCoupon(couponCode, total);
    }
  });

  removeCouponBtn.addEventListener('click', () => {
    removeCoupon();
  });
    
 

  // Checkout button click
  checkoutButton.addEventListener('click', async (event) => {
    event.preventDefault();

    const selectedAddressRadio = document.querySelector('input[name="delivery-address"]:checked');
    const addressId = selectedAddressRadio ? selectedAddressRadio.value : null;
    

    const selectedPaymentRadio = document.querySelector('input[name="paymentMethod"]:checked');
    const paymentMethod = selectedPaymentRadio ? selectedPaymentRadio.value : null;

    const paymentLabel = document.getElementById('paymentLabel');
    const addressLabel = document.getElementById('addressLabel');

    let isValid = true;

    if (!addressId) {
      addressLabel.classList.add('error-message');
      addressLabel.innerHTML = 'Select Delivery Address';
      isValid = false;
    } else {
      addressLabel.classList.remove('error-message');
      addressLabel.innerHTML = 'Delivery Address';
    }

    if (!paymentMethod) {
      paymentLabel.classList.add('error-message');
      paymentLabel.innerHTML = 'Select Payment Method';
      isValid = false;
    } else {
      paymentLabel.classList.remove('error-message');
      paymentLabel.innerHTML = 'Payment Methods';
    }

    if (isValid) {
      const data = {
        addressId: addressId,
        paymentMethod: paymentMethod,
        couponCode: validatedCoupon ? validatedCoupon.code : null,

      };

      checkout(data);
    }
  });

  function checkout(data) {
  fetch('/checkout', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(data)
  })
  .then(res => res.json())
  .then(data => {
    if (data.success) {
      if (data.order.razorpayOrderId) { 
        // Razorpay payment flow
        const options = {
          key: data.order.razorpayKeyId,
          amount: data.order.amount * 100,  
          currency: "INR",
          name: 'TAARA',
          description: 'Purchase Description',
          order_id: data.order.razorpayOrderId, // Ensure this is correct
          handler: function (response) {
            const orderId = data.orderId;
            const status = 'Paid';
            updatePaymentStatus(orderId, status);
          },
          prefill: {
            email: data.user.email,
          },
          theme: {
            color: '#cd9967'
          },
          modal: {
            ondismiss: function() {
              const orderId = data.orderId;
              const status = 'Failed';
              updatePaymentStatus(orderId, status);
            }
          }
        };
        const rzp1 = new Razorpay(options);
        rzp1.open();
      } else {
        // COD flow
        window.location.href = `/checkout/success/${data.orderId}`;
      }
      console.log('Success:', data.message);
    } else {
      Swal.fire({
        title: 'Error',
        text: data.message,
        icon: 'error',
        confirmButtonText: 'Ok'
      });
      console.log('failed', data.message);
    }
  })
  .catch(error => {
    console.error('Error:', error);
    Swal.fire({
      title: 'Error',
      text: 'An error occurred during checkout.',
      icon: 'error',
      confirmButtonText: 'Ok'
    });
  });
}
});

function updatePaymentStatus(orderId, status) {
  fetch('/order', {
    method: 'PUT',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      orderId: orderId,
      status: status
    })
  })
  .then(res => res.json())
  .then(data => {
    if (data.success) {
      if (data.status === 'Paid') { 
        window.location.href = `/checkout/success/${data.orderId}`;
      } else {
        // payment failed
        window.location.href = '/account?openTab=orders';
      }
    } 
  })
  .catch(error => {
    console.error('Error:', error);
    Swal.fire({
      title: 'Error',
      text: 'An error occurred during updating payment status.',
      icon: 'error',
      confirmButtonText: 'Ok'
    });
  });
}

</script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const toggleLink = document.getElementById('toggleCoupons');
        const couponRows = document.querySelectorAll('.coupon-row');
        let isExpanded = false;
    
        if (toggleLink) {
            toggleLink.addEventListener('click', function(event) {
                event.preventDefault(); // Prevent the default anchor behavior
                
                isExpanded = !isExpanded;
                
                couponRows.forEach((row, index) => {
                    if (index >= 3) {
                        row.classList.toggle('hidden-coupon');
                    }
                });
    
                this.textContent = isExpanded ? 'View Less' : 'View All Coupons';
            });
        }
    });
    </script>

    <!-- Plugins JS File -->
    <script src="/User/assets/js/jquery.min.js"></script>
    <script src="/User/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/User/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/User/assets/js/jquery.waypoints.min.js"></script>
    <script src="/User/assets/js/superfish.min.js"></script>
    <script src="/User/assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="/User/assets/js/main.js"></script>
</body>


<!-- molla/checkout.html  22 Nov 2019 09:55:06 GMT -->
</html>