
<%- include('../Layouts/User/header') -%>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/User/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/User/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/User/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/User/assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/User/assets/css/style.css">
    <link rel="stylesheet" href="/User/assets/css/plugins/nouislider/nouislider.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3.10.0/notyf.min.css">

    <style>
        .error-message {
            color: red !important;
    
        }

        .btn-disabled {

      cursor: not-allowed;
      pointer-events: none;
      color: white; 
        }
    
        .actual-price {
            color: #ff0707 !important;
            text-decoration: line-through;

        }
    </style>
</head>

<body>
    <div class="page-wrapper">
        
        <%- include('../Layouts/User/navbar') -%>


        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/products/<%= product.gender %>"><%= product.gender %></a></li>
                        <li class="breadcrumb-item active" aria-current="page"><%= product.name %></li>
                    </ol>

                    <nav class="product-pager ml-auto" aria-label="Product">
                        <a class="product-pager-link product-pager-prev" href="#" aria-label="Previous" tabindex="-1">
                            <i class="icon-angle-left"></i>
                            <span>Prev</span>
                        </a>

                        <a class="product-pager-link product-pager-next" href="#" aria-label="Next" tabindex="-1">
                            <span>Next</span>
                            <i class="icon-angle-right"></i>
                        </a>
                    </nav><!-- End .pager-nav -->
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <div class="product-details-top">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="product-gallery product-gallery-separated">
                              <span class="product-label label-sale">Sale</span>
                              <% variant.images.forEach((image, index) => { %>
                                <figure class="product-separated-item">
                                  <img src="/Admin/assets/Products-Images/<%= image %>" data-zoom-image="/Admin/assets/Products-Images/<%= image %>" alt="product image">
                                  <% if (index === 0) { %>
                                    <a href="#" id="btn-separated-gallery" class="btn-product-gallery">
                                      <i class="icon-arrows"></i>
                                    </a>
                                  <% } %>
                                </figure>
                              <% }); %>
                            </div><!-- End.product-gallery -->
                          </div><!-- End.col-md-6 -->
                      
                          <div class="col-md-6">
                            <div class="product-details sticky-content">
                              <h1 class="product-title"><%= product.name %></h1><!-- End.product-title -->
                      
                              <div class="ratings-container">
                                <div class="ratings">
                                  <div class="ratings-val" style="width: 80%;"></div><!-- End.ratings-val -->
                                </div><!-- End.ratings -->
                                <a class="ratings-text" href="#product-accordion" id="review-link">( 2 Reviews )</a>
                              </div><!-- End.rating-container -->
                      
                              <div class="product-price">
                                <% if (product.bestOffer) { %>
                                 <% if (product.discountedPrice) { %>
                                    <span class="actual-price">Rs.<%= product.price.toFixed(2) %></span>
                                    <span class="new-price px-4">Rs.<%= Math.round(product.discountedPrice).toFixed(2) %></span>
                                    <span class="label-sale bg-danger px-2 " ><%= product.bestOffer.discount %> OFF%</span>
                                 <% } %>
                                 <% } else { %>
                                    <span class="new-price">Rs.<%= product.price %></span>
                                <% } %>
                                
                                 
                                    
                                
                                
                                <!-- <span class="old-price">$310.00</span> -->
                              </div><!-- End.product-price -->

                              <input type="hidden" id="productId" value="<%= product._id %>">
                              <input type="hidden" id="variantId" value="<%= variant._id %>">
                      
                              <div class="product-content">
                                <p><%= product.description %></p>
                              </div><!-- End.product-content -->
                      
                              <!-- <div class="product-countdown" data-until="2019, 10, 29"></div>End.product-countdown -->
                              <% if (product.variants.length > 0) { %>
                                <div class="details-filter-row details-row-size">
                                  <label>Color:</label>
                                  <div class="product-nav product-nav-thumbs" >
                                    <% product.variants.forEach((variant) => { %>
                                      <a active style="width: 50px; height: 73px;" href="/product/<%= product._id %>/variant/<%= variant._id %>">
                                        <img src="/Admin/assets/Products-Images/<%= variant.images[0] %>" alt="product desc" 
                                             width="50" height="70"
                                             title="<%= variant.name %>">
                                      </a>
                                    <% }); %>
                                  </div><!-- End.product-nav -->
                                </div><!-- End.details-filter-row -->
                              <% } %>
                      
                              <div class="details-filter-row details-row-size">
                                <label id="sizeLabel" for="size">Size:</label>
                                <div class="select-custom">
                                  <select name="size" id="productSize" class="form-control">
                                    <option value=""  selected="selected">Select a size</option>
                                    <% variant.sizes.forEach((size) => { %>
                                      <option value="<%= size %>"><%= size %></option>
                                    <% }); %>
                                  </select>
                                </div><!-- End.select-custom -->
                      
                                <a href="#" class="size-guide"><i class="icon-th-list"></i>size guide</a>
                              </div><!-- End.details-filter-row -->
                                    <div class="details-filter-row details-row-size">
                                        <label id="quantityLabel" for="qty">Qty:</label>
                                        <div class="product-details-quantity">
                                            <input type="number" id="productQty" class="form-control" value="1" min="1" max="<%= Math.min(variant.quantity, 5) %>"  step="1" data-decimals="0" required>
                                            <% if (variant.quantity < 5) { %>
                                                <span style="color: red;">
                                                     Only <%= variant.quantity %> left in
                                                    stock
                                                </span>
                                                
                                                
                                            
                                             
                                            <% } %>
                                        </div><!-- End .product-details-quantity -->
                                    </div><!-- End .details-filter-row -->

                                    <div class="product-details-action">
                                        <% if (variant.quantity == 0) { %>
                                            <a href="#" class="btn-product btn-danger btn-cart btn-disabled"><span>Out of Stock</span></a>
                                        <% } else { %>
                                            <a href="#" id="addToCart" class="btn-product btn-cart"><span>add to cart</span></a>
                            
                                            <% } %>
                                        

                                        <div class="details-action-wrapper">
                                            <a href="#" id="addToWishlist" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a>
                                        </div><!-- End .details-action-wrapper -->
                                    </div><!-- End .product-details-action -->

                                    <div class="product-details-footer">
                                        <div class="product-cat">
                                            <span>Category:</span>
                                            <span><%= product.gender %>, <%= product.category.name %>, <%= variant.color %></span>
                                           
                                            
                                        </div><!-- End .product-cat -->

                                        <div class="social-icons social-icons-sm">
                                            <span class="social-label">Share:</span>
                                            <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                            <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                            <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                            <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                        </div>
                                    </div><!-- End .product-details-footer -->

                                    <div class="accordion accordion-plus product-details-accordion" id="product-accordion">
                                        <div class="card card-box card-sm">
                                            <div class="card-header" id="product-desc-heading">
                                                <h2 class="card-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#product-accordion-desc" aria-expanded="false" aria-controls="product-accordion-desc">
                                                        Description
                                                    </a>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="product-accordion-desc" class="collapse" aria-labelledby="product-desc-heading" data-parent="#product-accordion">
                                                <div class="card-body">
                                                    <div class="product-desc-content">
                                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
                                                        <ul>
                                                            <li>Nunc nec porttitor turpis. In eu risus enim. In vitae mollis elit. </li>
                                                            <li>Vivamus finibus vel mauris ut vehicula.</li>
                                                            <li>Nullam a magna porttitor, dictum risus nec, faucibus sapien.</li>
                                                        </ul>

                                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede.</p>
                                                    </div><!-- End .product-desc-content -->
                                                </div><!-- End .card-body -->
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->

                                        <div class="card card-box card-sm">
                                            <div class="card-header" id="product-info-heading">
                                                <h2 class="card-title">
                                                    <a role="button" data-toggle="collapse" href="#product-accordion-info" aria-expanded="true" aria-controls="product-accordion-info">
                                                        Additional Information
                                                    </a>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="product-accordion-info" class="collapse show" aria-labelledby="product-info-heading" data-parent="#product-accordion">
                                                <div class="card-body">
                                                    <div class="product-desc-content">
                                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p>

                                                        <h3>Fabric & care</h3>
                                                        <ul>
                                                            <li>100% Polyester</li>
                                                            <li>Do not iron</li>
                                                            <li>Do not wash</li>
                                                            <li>Do not bleach</li>
                                                            <li>Do not tumble dry</li>
                                                            <li>Professional dry clean only</li>
                                                        </ul>

                                                        <h3>Size</h3>
                                                        <p>S, M, L, XL</p>
                                                    </div><!-- End .product-desc-content -->
                                                </div><!-- End .card-body -->
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->

                                        <div class="card card-box card-sm">
                                            <div class="card-header" id="product-shipping-heading">
                                                <h2 class="card-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#product-accordion-shipping" aria-expanded="false" aria-controls="product-accordion-shipping">
                                                        Shipping & Returns
                                                    </a>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="product-accordion-shipping" class="collapse" aria-labelledby="product-shipping-heading" data-parent="#product-accordion">
                                                <div class="card-body">
                                                    <div class="product-desc-content">
                                                        <p>We deliver to over 100 countries around the world. For full details of the delivery options we offer, please view our <a href="#">Delivery information</a><br>
                                                        We hope you’ll love every purchase, but if you ever need to return an item you can do so within a month of receipt. For full details of how to make a return, please view our <a href="#">Returns information</a></p>
                                                    </div><!-- End .product-desc-content -->
                                                </div><!-- End .card-body -->
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->

                                        <div class="card card-box card-sm">
                                            <div class="card-header" id="product-review-heading">
                                                <h2 class="card-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#product-accordion-review" aria-expanded="false" aria-controls="product-accordion-review">
                                                        Reviews (2)
                                                    </a>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="product-accordion-review" class="collapse" aria-labelledby="product-review-heading" data-parent="#product-accordion">
                                                <div class="card-body">
                                                    <div class="reviews">
                                                        <div class="review">
                                                            <div class="row no-gutters">
                                                                <div class="col-auto">
                                                                    <h4><a href="#">Samanta J.</a></h4>
                                                                    <div class="ratings-container">
                                                                        <div class="ratings">
                                                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                                                        </div><!-- End .ratings -->
                                                                    </div><!-- End .rating-container -->
                                                                    <span class="review-date">6 days ago</span>
                                                                </div><!-- End .col -->
                                                                <div class="col">
                                                                    <h4>Good, perfect size</h4>

                                                                    <div class="review-content">
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cum dolores assumenda asperiores facilis porro reprehenderit animi culpa atque blanditiis commodi perspiciatis doloremque, possimus, explicabo, autem fugit beatae quae voluptas!</p>
                                                                    </div><!-- End .review-content -->

                                                                    <div class="review-action">
                                                                        <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                                                                        <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                                                    </div><!-- End .review-action -->
                                                                </div><!-- End .col-auto -->
                                                            </div><!-- End .row -->
                                                        </div><!-- End .review -->

                                                        
                                                        <div class="review">
                                                            <div class="row no-gutters">
                                                                <div class="col-auto">
                                                                    <h4><a href="#">John Doe</a></h4>
                                                                    <div class="ratings-container">
                                                                        <div class="ratings">
                                                                            <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                                                        </div><!-- End .ratings -->
                                                                    </div><!-- End .rating-container -->
                                                                    <span class="review-date">5 days ago</span>
                                                                </div><!-- End .col -->
                                                                <div class="col">
                                                                    <h4>Very good</h4>

                                                                    <div class="review-content">
                                                                        <p>Sed, molestias, tempore? Ex dolor esse iure hic veniam laborum blanditiis laudantium iste amet. Cum non voluptate eos enim, ab cumque nam, modi, quas iure illum repellendus, blanditiis perspiciatis beatae!</p>
                                                                    </div><!-- End .review-content -->

                                                                    <div class="review-action">
                                                                        <a href="#"><i class="icon-thumbs-up"></i>Helpful (0)</a>
                                                                        <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                                                    </div><!-- End .review-action -->
                                                                </div><!-- End .col-auto -->
                                                            </div><!-- End .row -->
                                                        </div><!-- End .review -->
                                                    </div><!-- End .reviews -->
                                                </div><!-- End .card-body -->
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->
                                    </div><!-- End .accordion -->
                                </div><!-- End .product-details -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->

                    
                    <% if (similarProducts && similarProducts.length > 0 ) { %>
                        <hr class="mt-3 mb-5">

                        <h2 class="title text-center mb-4">You May Also Like</h2><!-- End .title text-center -->
                        <div class="d-flex justify-content-center owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
    data-owl-options='{
        "nav": false, 
        "dots": true,
        "margin": 20,
        "loop": false,
        "responsive": {
            "0": {
                "items":1
            },
            "480": {
                "items":2
            },
            "768": {
                "items":3
            },
            "992": {
                "items":4
            },
            "1200": {
                "items":4,
                "nav": true,
                "dots": false
            }
        }
    }'>
    <% similarProducts.forEach(function(similarProduct) { %>
        <% if (similarProduct._id.toString() !== product._id.toString()) { %>
            
            <div class="product product-7">
                <figure class="product-media">
                    <% if (similarProduct.isNew) { %>
                        <span class="product-label label-new">New</span>
                    <% } %>
                    <a href="/product/<%= similarProduct._id %>/variant/<%= similarProduct.variants[0]._id %>">
                        <img src="/Admin/assets/Products-Images/<%= similarProduct.variants[0].images[0] %>" alt="Product image" class="product-image">
                    </a>
        
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                        <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                        <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                    </div><!-- End .product-action-vertical -->
        
                    <div class="product-action">
                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                    </div><!-- End .product-action -->
                </figure><!-- End .product-media -->
        
                <div class="product-body">
                    <div class="product-cat">
                        <a href="#"><%= similarProduct.category.name %></a>
                    </div><!-- End .product-cat -->
                    <h3 class="product-title"><a href="product.html"><%= similarProduct.name %></a></h3><!-- End .product-title -->
                    <div class="product-price">
                        Rs.<%= similarProduct.price %>
                    </div><!-- End .product-price -->
                    
                    <div class="product-nav product-nav-dots">
                        <% similarProduct.variants.forEach(function(variant) { %>
                            <a href="#" class="<%= variant.isActive ? 'active' : '' %>" style="background: <%= variant.colorCode %>;">
                                <span class="sr-only">Color name</span>
                            </a>
                        <% }); %>
                    </div><!-- End .product-nav -->
                </div><!-- End .product-body -->
            </div><!-- End .product -->
        <% } %>
    <% }); %>
</div><!-- End .owl-carousel -->

                    <% } %>

                
                    
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <%- include('../Layouts/User/footer') -%>

    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
    <script src="https://cdn.jsdelivr.net/npm/notyf@3.10.0/notyf.min.js"></script>
    
    <script>
        document.getElementById('addToCart').addEventListener('click', (event) => {
            event.preventDefault();
    
            const variantId = document.getElementById('variantId').value.trim();
            const size = document.getElementById('productSize').value.trim();
            const quantity = document.getElementById('productQty').value.trim();


            const sizeLabel = document.getElementById('sizeLabel')
            const quantityLabel= document.getElementById('quantityLabel')

            let isValid = true

            if(!size){
                sizeLabel.innerHTML = 'select a size'
                sizeLabel.classList.add('error-message');
                isValid = false
            }else{
                sizeLabel.innerHTML = 'Size'
                sizeLabel.classList.remove('error-message');
            }

            if(!quantity || isNaN(quantity)){
                quantityLabel.innerHTML = 'Invalid quantity'
                quantityLabel.classList.add('error-message')
                isValid = false
            }else {
                quantityLabel.innerHTML = 'Qty:'
                quantityLabel.classList.remove('error-message')
            }
    
            if(isValid){
                const data = {
                    variantId: variantId,
                    size: size,
                    quantity: quantity
                };

            addToCart(data);
        }
            
    });

    function addToCart(data) {
        fetch('/cart', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    
                    var notyf = new Notyf({
                        position: {
                            x: 'center',
                            y: 'center'
                        }
                        });
                    notyf.success(data.message)
                } 
                else if (!data.user) {
                    // Show success alert
                    window.location.href = '/authentication';
                } else {
                    // Show error alert
                    Swal.fire({
                        title: 'Error',
                        text: data.message,
                        icon: 'error',
                        confirmButtonColor: '#d33',
                        confirmButtonText: 'OK'
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire({
                    title: 'Error',
                    text: 'An error occurred while adding the product to the cart.',
                    icon: 'error',
                    confirmButtonColor: '#d33',
                    confirmButtonText: 'OK'
                });
            });
        }
    </script>

<script>
    document.getElementById('addToWishlist').addEventListener('click', (event) => {
        event.preventDefault();

        const variantId = document.getElementById('variantId').value.trim();

            const data = {
                variantId: variantId,

            };

        addToWishlist(data);

        
});

function addToWishlist(data) {
    fetch('/wishlist', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                
                var notyf = new Notyf({
                    position: {
                        x: 'center',
                        y: 'center'
                    }
                    });
                notyf.success(data.message)
            } 
            else if (!data.user) {

                window.location.href = '/authentication';
            } else {
                // Show error alert
                var notyf = new Notyf({
                    position: {
                        x: 'center',
                        y: 'center'
                    }
                    });
                notyf.error(data.message)
            }
        })
        .catch(error => {
            console.error('Error:', error);
            Swal.fire({
                title: 'Error',
                text: 'An error occurred while adding the product to the cart.',
                icon: 'error',
                confirmButtonColor: '#d33',
                confirmButtonText: 'OK'
            });
        });
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
  const searchForm = document.getElementById('search-form');
  const searchInput = document.getElementById('search');

  if (searchForm && searchInput) {
    searchForm.addEventListener('submit', function(event) {
      event.preventDefault(); // Prevent the default form submission

      const searchTerm = searchInput.value.trim();
      if (searchTerm) {
        const params = new URLSearchParams();
        params.set('search', searchTerm);

        // Redirect to the search results page
        window.location.href = `/products/search-form?${params.toString()}`;
      }
    });
  }
});
</script> 
    


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <!-- Plugins JS File -->
    <script src="/User/assets/js/jquery.min.js"></script>
    <script src="/User/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/User/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/User/assets/js/jquery.waypoints.min.js"></script>
    <script src="/User/assets/js/superfish.min.js"></script>
    <script src="/User/assets/js/owl.carousel.min.js"></script>
    <script src="/User/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/User/assets/js/jquery.plugin.min.js"></script>
    <script src="/User/assets/js/jquery.countdown.min.js"></script>
    <script src="/User/assets/js/jquery.elevateZoom.min.js"></script>
    <script src="/User/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/User/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/User/assets/js/jquery.sticky-kit.min.js"></script>
    <!-- Main JS File -->
    <script src="/User/assets/js/main.js"></script>

   
</body>



<!-- molla/product-sticky.html  22 Nov 2019 10:03:32 GMT -->
</html>