
<%- include('../Layouts/User/header') -%>

<!-- Plugins CSS File -->
<link rel="stylesheet" href="/User/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/User/assets/css/plugins/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="/User/assets/css/plugins/magnific-popup/magnific-popup.css">
<!-- Main CSS File -->
<link rel="stylesheet" href="/User/assets/css/style.css">
<link rel="stylesheet" href="/User/assets/css/demos/demo-15.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<style>
    .error-message{
        color: red;
    }
    .password-input-wrapper {
    position: relative;
}

.password-input-wrapper .form-control {
    padding-right: 35px; /* Make room for the icon */
}

.password-input-wrapper .fas {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999; /* Adjust color as needed */
}
</style>

</head>

<body>
    <div class="page-wrapper">
        <header class="header header-5">
            <div class="header-middle sticky-header">
                <div class="container-fluid"> 
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="/" class="logo">
                            <img src="/User/assets/images/taaraLogo-3.png" alt="Molla Logo" width="105" height="25">


                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                
                                <li>
                                    <a href="/products/Men" class="">MEN</a>
        
                                    
                                </li>
                                <li>
                                    <a href="/products/Women" class="">WOMEN</a>
        
                                    
                                </li>
                                <li>
                                    <a href="/products/newArrivals" class="">NEW ARRIVALS</a>
        
                                    
                                </li>
                                <!-- <li>
                                    <a href="blog.html" class="">SALE</a>
        
                                    
                                </li> -->
                                
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                       

                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search header-search-extended header-search-visible">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <!-- <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                </div>End .header-search-wrapper -->
                            </form> -->
                        </div><!-- End .header-search -->
                        
                        
                    </div><!-- End .header-right -->
                </div><!-- End .container-fluid -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
                        <!--login and signup-->
            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url(/User/assets/images/demos/demo-15/slider/slide-1.jpg);">
                <div class="container">
                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link <%= activeTab === 'signin' ? 'active' : '' %>" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="<%= activeTab === 'signin' %>">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link <%= activeTab === 'signup' ? 'active' : '' %>" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab" aria-controls="register-2" aria-selected="<%= activeTab === 'signup' %>">Sign Up</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade <%= activeTab === 'signin' ? 'show active' : '' %>" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
                                    <p class="text-success text-center" id="success-message"><%= locals.successMessage ? successMessage : '' %></p>
                                    <p class="text-danger text-center" id=""><%= locals.signinMessage ? signinMessage : '' %></p>
                                    <!-- Sign-in form content -->
                                    <form action="/signin" id="signin-form" method="POST">
                                        <div class="form-group">
                                            <label for="signin-email-2" id="signinMessageMail">Email address *</label>
                                            <input type="text" class="form-control" id="signin-email-2" name="signinEmail" value="<%= locals.formDataSignin ? formDataSignin : '' %>" >
                                        </div><!-- End .form-group -->
                
                                        <div class="form-group">
                                            <label for="signin-password-2" id="signinMessagePass">Password *</label> 
                                            <div class="password-input-wrapper">
                                                <input type="password" class="form-control" id="signin-password-2" name="signinPassword">
                                                <i class="fas fa-eye togglePassword" id="toggleSigninPassword"></i>
                                            </div>
                                        </div><!-- End .form-group -->
                                        
                
                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                
                                            <a href="/forgotPass" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row d-flex justify-content-center">
                                            <div class="col-sm-10">
                                                <a href="/auth/google" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->

                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade <%= activeTab === 'signup' ? 'show active' : '' %>" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
                                    <!-- Registration form content -->
                                    <form action="/signup" id="signup-form" method="post">
                                        <div class="form-group">
                                            <label for="register-email-2" id="signupMessageMail">Your email address *</label>
                                            <input type="text" class="form-control" id="register-email-2" name="signupEmail" value="<%= locals.formDataSignup ? formDataSignup : '' %>" >
                                            <p class="  text-danger"><%= locals.signupMessage ? signupMessage : '' %></p>
                                        </div><!-- End .form-group -->
                
                                        <div class="form-group">
                                            <label for="register-password-2" id="signupMessagePass">Password *</label>
                                            <div class="password-input-wrapper">
                                                <input type="password" class="form-control" id="register-password-2" name="signupPassword">
                                                <i class="fas fa-eye togglePassword" id="toggleSignupPassword"></i>
                                            </div>
                                        </div><!-- End .form-group -->
                
                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SEND OTP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                
                                            <!-- <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy-2" required>
                                                <label class="custom-control-label" for="register-policy-2">I agree to the <a href="#">privacy policy</a> *</label>
                                            </div>End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row d-flex justify-content-center">
                                            <div class="col-sm-10">
                                                <a href="/auth/google" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->

                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .container -->
                
        </main><!-- End .main -->

        <%- include('../Layouts/User/footer') -%>

<!-- Plugins JS File -->
<script src="/User/assets/js/jquery.min.js"></script>
<script src="/User/assets/js/bootstrap.bundle.min.js"></script>
<script src="/User/assets/js/jquery.hoverIntent.min.js"></script>
<script src="/User/assets/js/jquery.waypoints.min.js"></script>
<script src="/User/assets/js/superfish.min.js"></script>
<script src="/User/assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="/User/assets/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
    <script>
        document.getElementById('signup-form').addEventListener('submit', function(event) {
            event.preventDefault();  
        
            const isValidsignup = validateSignup();
        
            if (isValidsignup) {
                document.getElementById('signup-form').submit(); // Submit the form if validation passes
            }
        });
        
        document.getElementById('signin-form').addEventListener('submit', function(event) {
            event.preventDefault(); 
        
            const isValidsignin = validateSignin();
        
            if (isValidsignin) {
                document.getElementById('signin-form').submit(); 
            }
        });
        
        function validateSignup() {
            const email = document.getElementById('register-email-2').value.trim();
            const password = document.getElementById('register-password-2').value.trim();
            const emailError = document.getElementById('signupMessageMail');
            const passwordError = document.getElementById('signupMessagePass');
        
            // Reset error messages
            emailError.textContent = 'Email address *';
            passwordError.textContent = 'Password *';
        
            const isEmailValid = validateEmail(email, emailError);
            const isPasswordValid = validateSignupPassword(password, passwordError);
        
            return isEmailValid && isPasswordValid; // Return the two results
        }
        
        function validateSignin() {
            const email = document.getElementById('signin-email-2').value.trim();
            const password = document.getElementById('signin-password-2').value.trim();
            const emailError = document.getElementById('signinMessageMail');
            const passwordError = document.getElementById('signinMessagePass');
        
            // Reset error messages
            emailError.textContent = 'Email address *';
            passwordError.textContent = 'Password *';
        
            const isEmailValid = validateEmail(email, emailError);
            const isPasswordValid = validateSigninPassword(password, passwordError);
        
            return isEmailValid && isPasswordValid; // Return the combined validation status
        }
        
        function validateEmail(email, emailError) {
            const emailRegex = /^([a-zA-Z0-9._]+)@([a-zA-Z0-9])+\.([a-z]+)(\.[a-z]+)?$/;
        
            if (!email) {
                emailError.textContent = 'Email is required';
                emailError.classList.add('error-message');
                return false;
            }
        
            if (!emailRegex.test(email)) {
                emailError.textContent = 'Invalid Email';
                emailError.classList.add('error-message');
                return false;
            }
        
            emailError.classList.remove('error-message');
            return true;
        }
        
        function validateSignupPassword(password, passwordError) {
            const passwordRegex = 	/^(?=.*[0-9]+.*)(?=.*[a-zA-Z]+.*)[0-9a-zA-Z]{6,}$/
        
            if (!password) {
                passwordError.textContent = 'Password is required';
                passwordError.classList.add('error-message');
                return false;
            }
        
            if (!passwordRegex.test(password)) {
                passwordError.textContent = 'Password must contain at least one letter, at least one number, and be longer than six charaters.';
                passwordError.classList.add('error-message');
                return false;
            }
        
            passwordError.classList.remove('error-message');
            return true;
        }
        
        function validateSigninPassword(password, passwordError) {
            if (!password) {
                passwordError.textContent = 'Password is required';
                passwordError.classList.add('error-message');
                return false;
            }
        
            passwordError.classList.remove('error-message');
            return true;
        }
        </script>

    <script>

document.addEventListener('DOMContentLoaded', function() {
    const successMessageElement = document.getElementById('success-message');

    if (successMessageElement && successMessageElement.textContent.trim() !== '') {
        setTimeout(() => {
            successMessageElement.style.display = 'none';
        }, 10000); //  10 sec
    }
});

    </script>

    
    <script>
       document.addEventListener('DOMContentLoaded', function() {
    function togglePasswordVisibility(passwordField, toggleIcon) {
        const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordField.setAttribute('type', type);
        toggleIcon.classList.toggle('fa-eye-slash');
    }

    // Signin password toggle
    const toggleSigninPassword = document.querySelector('#toggleSigninPassword');
    const signinPassword = document.querySelector('#signin-password-2');

    if (toggleSigninPassword && signinPassword) {
        toggleSigninPassword.addEventListener('click', function() {
            togglePasswordVisibility(signinPassword, this);
        });
    }

    // Signup password toggle
    const toggleSignupPassword = document.querySelector('#toggleSignupPassword');
    const signupPassword = document.querySelector('#register-password-2');

    if (toggleSignupPassword && signupPassword) {
        toggleSignupPassword.addEventListener('click', function() {
            togglePasswordVisibility(signupPassword, this);
        });
    }
});
    </script>
    

