
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/User/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/User/assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3.10.0/notyf.min.css">


    <style>
        .dropdown-menu {
            min-width: 200px; /* Adjust as needed */
        }
        .size-circle {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #ffffff;
            border: 1px solid #c96;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            margin: 0 5px;
            cursor: pointer;
            transition: all 0.3s ease;
        }
        .size-circle.available:hover {
            background-color: #e0e0e0;
            border: 1px solid #c96;
        }
        .size-circle.disabled {
            opacity: 0.5;
            cursor: not-allowed;
            background-color: #f0f0f0;
        }
        .size-circle.selected {
            background-color: #f0f0f0;
            border: 1px solid #c96;
        }
        .price-original {    
            text-decoration: line-through;
        }
    </style>
</head>

<body>
    <div class="page-wrapper">
        
        <%- include('../Layouts/User/navbar') -%>

        <main class="main">
            <div class="page-header text-center" style="background-color: black;">

        		<div class="container">
        			<h1 class="page-title">WISHLIST</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="container" id="wishlist-container">
                    <% if (wishlist && wishlist.products.length > 0 ) { %>
                        <table class="table table-wishlist table-mobile">
                            <thead>
                                <tr>
                                    <th class="text-center">Product</th>
                                    <th class="">Price</th>
                                    <th>Stock Status</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
    
                            <tbody>
                        <% wishlist.products.forEach((current, index) => { %>
					
                            
                                    <tr id="wishlistItem-<%= current.variant._id %>">
                                        <td class="product-col">
                                            <div class="product">
                                                <figure class="product-media">
                                                    <a href="#">
                                                        <img src="/Admin/assets/Products-Images/<%= current.variant.images[0] %>" alt="Product image">
                                                    </a>
                                                </figure>
        
                                                <h3 class="product-title">
                                                    <a href="#"><%= current.product.name %> </a>
                                                </h3><!-- End .product-title -->
                                            </div><!-- End .product -->
                                        </td>
                                        <td class="price-col">
                                            <span class="price-original text-danger">Rs.<%= current.product.price %></span>
                                            <span class="price">Rs. <%= current.discountedPrice %></span>
                                        </td>
                                        <td class="stock-col">
                                            <% if (current.variant.quantity === 0) { %>
                                                <span class="out-of-stock">Out of Stock</span>
                                                <% } else { %>
                                                <span class="in-stock">In Stock</span>
                                            <% } %>

                                        </td>
                                        <td class="action-col">
                                            <div class="dropdown">
                                                <button class="btn btn-block btn-outline-primary-2" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                    <i class="icon-cart-plus"></i>Add to cart
                                                </button>
                                        
                                                <div class="dropdown-menu">
                                                    <div class="bg-primary text-white text-center mb-1">Select size</div>
                                                    <div class="d-flex justify-content-around align-items-center">
                                                        <% ['XS', 'S', 'M', 'L', 'XL'].forEach(size => { %>
                                                            <div class="size-circle <%= current.variant.sizes.includes(size) ? 'available' : 'disabled' %>" 
                                                                 data-size="<%= size %>" 
                                                                 data-variant-id="<%= current.variant._id %>">
                                                                <%= size %>
                                                            </div>
                                                        <% }) %>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="remove-col">
                                            <button class="btn-remove removeItem" data-variantId="<%= current.variant._id %>" data-wishlist-id="<%= wishlist._id %>"><i class="icon-close"></i></button>
                                        </td>
                                    </tr>
                                <% }) %>
                                <% } else { %>
                                    <div id="empty-wishlist-div" style="text-align: center; margin: 0 auto; width: 300px;">
                                        <img class="image-fluid" style="width: 100%;" src="/User/assets/images/empty-wishlist.png" alt="">
                                        <h4 class="mb-3">Your wishlist is feeling a bit empty!</h4>
                                        <p class="mb-4">Add items to it and make your future shopping spree even more exciting!</p>
                                    </div>
                            <% } %>
							
							
						</tbody>
					</table><!-- End .table table-wishlist -->
	            	<div class="wishlist-share">
	            		<div class="social-icons social-icons-sm mb-2">
	            			<label class="social-label">Share on:</label>
	    					<a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
	    					<a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
	    					<a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
	    					<a href="#" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
	    					<a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
	    				</div><!-- End .soial-icons -->
	            	</div><!-- End .wishlist-share -->
            	</div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <%- include('../Layouts/User/footer') -%>
        
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
        <script src="https://cdn.jsdelivr.net/npm/notyf@3.10.0/notyf.min.js"></script>


        <script>
            document.querySelectorAll('.size-circle.available').forEach(circle => {
                circle.addEventListener('click', function () {

                    // Get the size, product ID, and variant ID
                    const size = this.getAttribute('data-size');
                    const variantId = this.getAttribute('data-variant-id');

                    const data = {
                        variantId: variantId,
                        size: size,
                        quantity: 1
                    };
                    addToCart(data);
                });
            });


            function addToCart(data) {

                fetch('/cart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            var notyf = new Notyf({
                                position: {
                                    x: 'center',
                                    y: 'center'
                                }
                            });
                            notyf.success(data.message)
                        }
                        else if (!data.user) {

                            window.location.href = '/authentication';
                        } else {
                            // Show error alert
                            var notyf = new Notyf({
                                position: {
                                    x: 'center',
                                    y: 'center'
                                }
                            });
                            notyf.error(data.message)
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        Swal.fire({
                            title: 'Error',
                            text: 'An error occurred while adding the product to the cart.',
                            icon: 'error',
                            confirmButtonColor: '#d33',
                            confirmButtonText: 'OK'
                        });
                    });
            }

        </script>
            
<script>

document.querySelectorAll('.removeItem').forEach(button => {
    button.addEventListener('click', (event) => {
        event.preventDefault();

        const variantId = button.getAttribute('data-variantId');
        const wishlistId = button.getAttribute('data-wishlist-id');

        removeFromWishlist(variantId, wishlistId);
    });
});

function removeFromWishlist(variantId, wishlistId) {
    fetch(`/wishlist/${variantId}/${wishlistId}`, {
        method: 'DELETE',
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            document.getElementById(`wishlistItem-${variantId}`).remove();

            if (data.wishlist.products.length === 0) {
            
            // Get the cart container element
            const wishlistContainer = document.getElementById('wishlist-container');
    
            // Create the empty cart div if it doesn't exist
            const emptyWishlistDiv = document.getElementById('empty-wishlist-div');
            if (!emptyWishlistDiv) {
                const emptyWishlistHtml = `
                    <div id="empty-wishlist-div" style="text-align: center; margin: 0 auto; width: 300px;">
                        <img class="image-fluid" style="width: 100%;" src="/User/assets/images/empty-wishlist.png" alt="">
                        <h4 class="mb-3">Your wishlist is feeling a bit empty!</h4>
                        <p class="mb-4">Add items to it and make your future shopping spree even more exciting!</p>
                    </div>
                `;
                wishlistContainer.innerHTML = emptyWishlistHtml;
            }
        } else {
            // Remove the empty cart div if it exists
            const emptyWishlistDiv = document.getElementById('empty-wishlist-div');
            if (emptyWishlistDiv) {
                emptyWishlistDiv.remove();
            }
        }

        } else {
            Swal.fire({
                    title: 'Error',
                    text: data.message,
                    icon: 'error',
                    confirmButtonColor: '#d33',
                    confirmButtonText: 'OK',
                });
        }
    })
    .catch(error => {
        console.error('Error:', error);
        Swal.fire({
                    title: 'Error',
                    text: error.message,
                    icon: 'error',
                    confirmButtonColor: '#d33',
                    confirmButtonText: 'OK',
                });
    });
}

</script>



    <!-- Plugins JS File -->
    <script src="/User/assets/js/jquery.min.js"></script>
    <script src="/User/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/User/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/User/assets/js/jquery.waypoints.min.js"></script>
    <script src="/User/assets/js/superfish.min.js"></script>
    <script src="/User/assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="/User/assets/js/main.js"></script>
</body>


<!-- molla/wishlist.html  22 Nov 2019 09:55:06 GMT -->
</html>