<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-left mb-4">
                
            </div><!-- End .header-left -->

            <div class="header-right">
                <ul class="top-menu">
                    <li>
                        <a href="#">Links</a>
                        <ul>
                            <li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>
                            <li><a href="wishlist.html"><i class="icon-heart-o"></i>Wishlist <span>(3)</span></a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="/account"><i class="icon-user"></i><%= user ? user.firstName || 'Account' : 'Sign In' %></a></li>


                        </ul>
                    </li>
                </ul><!-- End .top-menu -->
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-top -->

    <div class="header-middle sticky-header">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>

                <a href="/" class="logo">
                    Taara
                </a>

                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        
                        <li>
                            <a href="/products/Men" class="">MEN</a>

                            
                        </li>
                        <li>
                            <a href="/products/Women" class="">WOMEN</a>

                            
                        </li>
                        <li>
                            <a href="/products/newArrivals" class="">NEW ARRIVALS</a>

                            
                        </li>
                        <li>
                            <a href="blog.html" class="">SALE</a>

                            
                        </li>
                        
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->

            </div><!-- End .header-left -->

            <div class="header-right">
                <div class="header-search">
                    <a class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                    <form id="search-form" action="/products/search-form" method="GET">
                        <div class="header-search-wrapper">
                            <label for="q" class="sr-only">Search</label>
                            <input type="search" class="form-control" name="search" id="search" value="<%= locals.search ? search : '' %>" placeholder="Search in..." >
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->
                

                <div class="dropdown cart-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                        <i class="icon-shopping-cart"></i>
                        <span class="cart-count"><%= cart.products.length %></span>
                    </a>
                
                    <div class="dropdown-menu dropdown-menu-right">
                        <% if (cart.products.length > 0) { %>
                            <div class="dropdown-cart-products">
                                <% cart.products.slice(0, 3).forEach(current => { %>
                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="/product/<%= current.product._id %>/variant/<%= current.variant._id %>"><%= current.product.name %></a>
                                            </h4>
                                            <span class="cart-product-info">
                                                <span class="cart-product-qty"><%= current.quantity %></span>
                                                x Rs.<%= current.product.price %>
                                            </span>
                                        </div><!-- End .product-cart-details -->
                        
                                        <figure class="product-image-container" style="width: 40px; height: 50px;">
                                            <a href="/product/<%= current.product._id %>/variant/<%= current.variant._id %>" class="product-image">
                                                <img src="/Admin/assets/Products-Images/<%= current.variant.images[0] %>" style="width: 52px; height: auto;" alt="Product">
                                            </a>
                                        </figure>
                                        <!-- <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a> -->
                                    </div><!-- End .product -->
                                <% }); %>
                            </div><!-- End .dropdown-cart-products -->
                        
                            <div class="dropdown-cart-total">
                                <span>Total</span>
                                <span class="cart-total-price">Rs.<%= totalPrice %></span>
                            </div><!-- End .dropdown-cart-total -->
                        
                            <div class="dropdown-cart-action">
                                <a href="/cart" class="btn btn-primary">View Cart</a>
                                <a href="/checkout" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .dropdown-cart-action -->
                        <% } else { %>
                            <div class="dropdown-cart-action">
                                <p>Your cart is empty  </p>
                                <a href="/cart" class="btn btn-primary">View Cart</a>

                            </div><!-- End .dropdown-cart-action -->
                        <% } %>
                    </div><!-- End .dropdown-menu -->
                    
                </div><!-- End .cart-dropdown -->
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->
</header><!-- End .header -->

